


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Entrena en casa</title>

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="@Url.Content("~/Content/tienda2/css/bootstrap.custom.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/tienda2/css/style.css")" rel="stylesheet" />
    <!-- SPECIFIC CSS -->
    <link href="@Url.Content("~/Content/tienda2/css/product_page.css")" rel="stylesheet" />

    <!-- YOUR CUSTOM CSS -->
    <link href="@Url.Content("~/Content/tienda2/css/custom.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/tienda2/css/home_1.css")" rel="stylesheet" />
    <!--Jquery-->

    <style>
        /*.owl-carousel img{
          width: 100%;
          height: auto;
        }

        .owl-carousel img {
            height: auto;
            object-fit: cover;
            object-position: center center;
        }*/

        img.btn-whatsapp {
            display: block !important;
            position: fixed;
            z-index: 9999999;
            bottom: 20px;
            right: 20px;
            cursor: pointer;
            border-radius: 100px !important;
        }

            img.btn-whatsapp:hover {
                border-radius: 100px !important;
                -webkit-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
                -moz-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
                box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
                transition-duration: 1s;
            }
    </style>


    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '434544057761960');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=434544057761960&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(72364357, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/72364357" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>
<body>

    <img class="btn-whatsapp" src="https://clientes.dongee.com/whatsapp.png" width="64" height="64" alt="Whatsapp" onclick="window.location.href='https://wa.me/51957592357?text=Hola!%20Estoy%20interesado%20en%20la%20SMITH%20MULTIFUNCIÓN%20PROFESIONAL'">
    <div id="page">

        <!-- /header -->
        <main>
            <div class="container margin_30">
                <center>
                    <h1 style="text-transform:uppercase;">💪 Mantener el cuerpo en buena salud es un deber… de lo contrario no podremos mantener nuestra mente fuerte y clara – Buda 💪</h1>
                </center>
                <br />
                <div class="countdown_inner">
                    <h1 style="color:#fff;">
                        OFERTA INSUPERABLE -45% OFF, CADUCA EN <div style="font-size:42px;" data-countdown="2021/02/20" class="countdown"></div>
                    </h1>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-6">
                        <div class="all">
                            <div class="slider">
                                <div class="owl-carousel owl-theme main">

                                    <div style="height: 573px;background-image: url(/Content/accionfit_img/smithmultifuncional/cat_minigimnasio_multifuncionalmodelo001_detalle1.png);" class="item-box"></div>
                                    <div style="height: 573px;background-image: url(/Content/accionfit_img/smithmultifuncional/cat_minigimnasio_multifuncionalmodelo001_detalle8.jpg);" class="item-box"></div>
                                    <div style="height: 573px;background-image: url(/Content/accionfit_img/smithmultifuncional/cat_minigimnasio_multifuncionalmodelo001_detalle9.jpg);" class="item-box"></div>
                                    <div style="height: 573px;background-image: url(/Content/accionfit_img/smithmultifuncional/cat_minigimnasio_multifuncionalmodelo001_detalle5.jpg);" class="item-box"></div>
                                    <div style="height: 573px;background-image: url(/Content/accionfit_img/smithmultifuncional/cat_minigimnasio_multifuncionalmodelo001_detalle6.jpg);" class="item-box"></div>


                                    <div style="background-image: url(/Content/accionfit_img/smithmultifuncional/cat_minigimnasio_multifuncionalmodelo001_detalle4.png);" class="item-box"></div>
                                </div>
                                <div class="left nonl"><i class="ti-angle-left"></i></div>
                                <div class="right"><i class="ti-angle-right"></i></div>
                            </div>
                            <div class="slider-two">
                                <div class="owl-carousel owl-theme thumbs">
                                    <div style="background-image: url(/Content/accionfit_img/smithmultifuncional/cat_minigimnasio_multifuncionalmodelo001_detalle1.png);" class="item active"></div>
                                    <div style="background-image: url(/Content/accionfit_img/smithmultifuncional/cat_minigimnasio_multifuncionalmodelo001_detalle8.jpg);" class="item"></div>
                                    <div style="background-image: url(/Content/accionfit_img/smithmultifuncional/cat_minigimnasio_multifuncionalmodelo001_detalle9.jpg);" class="item"></div>
                                    <div style="background-image: url(/Content/accionfit_img/smithmultifuncional/cat_minigimnasio_multifuncionalmodelo001_detalle5.jpg);" class="item"></div>
                                    <div style="background-image: url(/Content/accionfit_img/smithmultifuncional/cat_minigimnasio_multifuncionalmodelo001_detalle6.jpg);" class="item"></div>


                                    <div style="background-image: url(/Content/accionfit_img/smithmultifuncional/cat_minigimnasio_multifuncionalmodelo001_detalle4.png);" class="item"></div>
                                </div>
                                <div class="left-t nonl-t"></div>
                                <div class="right-t"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#">Entrena en casa</a></li>
                                <li><a href="#">smith</a></li>
                                <li>detalle</li>
                            </ul>
                        </div>
                        <!-- /page_header -->
                        <div class="prod_info">
                            <h1>SMITH MULTIFUNCIÓN PROFESIONAL</h1>
                            <span class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i><em>5 estrellas</em></span>
                            <p>
                                <small>Ejercicios a realizar:</small><br>
                            </p>
                            <ul>
                                <li style="font-size:20px;">1️⃣Sentadillas</li>
                                <li style="font-size:20px;">2️⃣Lunges</li>
                                <li style="font-size:20px;">3️⃣Press pectorales en tres ángulos</li>
                                <li style="font-size:20px;">4️⃣Press militar (hombros)</li>
                                <li style="font-size:20px;">5️⃣Polea alta (espalda)</li>
                                <li style="font-size:20px;">6️⃣Remo sentado (espalda)</li>
                                <li style="font-size:20px;">7️⃣Triceps</li>
                                <li style="font-size:20px;">8️⃣Biceps</li>
                                <li style="font-size:20px;">9️⃣Trapecio..... Etc</li>
                            </ul>
                            <div class="prod_options">
                                <div class="row">
                                    <label class="col-xl-5 col-lg-5  col-md-6 col-6 pt-0"><strong>COLORES EN STOCK</strong></label>
                                    <div class="col-xl-4 col-lg-5 col-md-6 col-6 colors">
                                        <ul>
                                            <li><a href="#0" style="background-color:#ebb202;" class="color color_1 active"></a></li>
                                            <li><a href="#0" style="background-color:#db231d;" class="color color_2"></a></li>
                                            <li><a href="#0" style="background-color:#42b026;" class="color color_3"></a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <center>
                                        <div class="price_main" style="text-align:center;"><span style="font-size:35px;" class="new_price">S/6,599.00</span><span style="font-size:25px;" class="percentage">-45%</span> <span class="old_price">S/12,000.00</span></div>
                                    </center>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    
                                    <div class="btn btn-lg" style="background-color:#25d366;color:#fff;width:100%;padding:20px;height:95px;border-radius:6px;">
                                        <a href="https://wa.me/51957592357?text=Hola!%20Estoy%20interesado%20en%20la%20SMITH%20MULTIFUNCIÓN%20PROFESIONAL" data-number="51961446533" data-auto-text="" target="_blank">
                                            <table style="width:100%;">
                                                <tr>
                                                    <td style="width:30%;">
                                                        <div style="height:75px;width:75px;background-color:#229486;border-radius:50px;position:absolute;margin-top:-38px;text-align:center;">
                                                            <img src="~/Content/accionfit_img/AsesoraVentas_NazarenaBaos.jpeg" width="65" height="65" style="border-radius:50px;margin-top:5px;" alt="Whatsapp">
                                                        </div>
                                                        <img src="https://clientes.dongee.com/whatsapp.png" width="25" height="25" style="position:absolute;margin-left: -7px;margin-top: -22px;" alt="Whatsapp">
                                                    </td>
                                                    <td style="width:70%;">
                                                        <span style="font-size: 16px;font-weight: bold;">
                                                            Hola soy Nazarena baos, Has click para realizar tu pedido! <br />
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /prod_info -->

                    </div>
                </div>
                <!-- /row -->


            </div>
            <!-- /container -->

            <div class="tabs_product">
                <div class="container">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">Descripción</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /tabs_product -->
            <div class="tab_content_wrapper">
                <div class="container">
                    <div class="tab-content" role="tablist">
                        <div id="pane-A" class="card tab-pane fade active show" role="tabpanel" aria-labelledby="tab-A">
                            <div class="card-header" role="tab" id="heading-A">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse-A" aria-expanded="false" aria-controls="collapse-A">
                                        Description
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse-A" class="collapse" role="tabpanel" aria-labelledby="heading-A">
                                <div class="card-body">
                                    <div class="row justify-content-between">
                                        <div class="col-lg-6">

                                            <h3>ESPECIFICACIONES</h3>
                                            <ul>
                                                <li>Tubo de 3"x2"x2mm</li>
                                                <li>Acabado: capa de pintura electrostática al horno</li>
                                                <li>Peso del equipo: 280kg</li>
                                                <li>Dimensiones: 2265x1760x2260 (L*A*H)</li>
                                                <li>Cable: 6mm de acero recubierta de nylon con capacidad de carga de 500kg</li>
                                                <li>capacidad de carga Smith: 250kg</li>
                                                <li>Sistema de carga: a discos con capacidad de carga de 80kg</li>
                                                <li></li>
                                            </ul>
                                            <h3>FUNCIONES Y ACCESORIOS</h3>
                                            <ul>
                                                <li>1.- Smith incorporado con sistema a discos</li>
                                                <li>2.- 1 par de manijas</li>
                                                <li>3.- Barra jalón dorsales</li>
                                                <li>4.- Barra pequeña para biceps</li>
                                                <li>5.-Agarres para dominadas</li>
                                                <li>6.-sistema para acoplar barra olímpica y realizar remo con barra</li>
                                                <li>7.-Rodillos para ejercicios en polea</li>
                                                <li>8.-Soportes de seguridad</li>
                                                <li>9.-soporte para deeps</li>
                                                <li>10.-porta barra</li>
                                                <li>11.-porta discos - NO INCLUYE DISCOS</li>
                                                
                                            </ul>
                                            <h3>ENTREGA Y FORMA DE PAGO</h3>
                                            <ul>
                                                <li>Trabajamos el pago dividido en 2 cuotas, 50% al inicio y 50% al entregar el producto en tu casa.</li>
                                                <li>Entrega en 15 días</li>
                                                <li>Entregas a nivel nacional, pará provincias se envía por agencia, shalom, marvisur o la agencia de su preferencia.</li>                                             
                                            </ul>
                                            <br />
                                        </div>
                                        <div class="col-lg-5">
                                            <h3>ESPECIFICACIONES</h3>
                                            <div class="table-responsive">
                                                <table class="table table-sm table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <td><strong>Color</strong></td>
                                                            <td>Blue, Purple</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Peso del equipo</strong></td>
                                                            <td>280kg</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Dimensiones</strong></td>
                                                            <td>2265x1760x2260</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>capacidad de carga Smith:</strong></td>
                                                            <td>250kg</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /table-responsive -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /TAB A -->


                    </div>
                    <!-- /tab-content -->
                </div>
                <!-- /container -->
            </div>

            <div class="container margin_30">

                <center>
                    <h1 style="text-transform:uppercase;">😱 OBTEN RESULTADOS EN TUS PRIMEROS 60 DIAS 😱</h1>
                </center>
                <br />
                <ul id="banners_grid" class="clearfix">
                    <li>
                        <a href="#0" class="img_container">
                            <img src="~/Content/accionfit_img/antesdespues1.jpg" data-src="~/Content/accionfit_img/antesdespues1.jpg" alt="" class="lazy loaded" data-was-processed="true">
                            <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)" style="background-color: rgba(0, 0, 0, 0.5);">
                                <h3>ANTES/DESPUÉS</h3>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#0" class="img_container">
                            <img src="~/Content/accionfit_img/antesdespues2.jpg" data-src="~/Content/accionfit_img/antesdespues2.jpg" alt="" class="lazy loaded" data-was-processed="true">
                            <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)" style="background-color: rgba(0, 0, 0, 0.5);">
                                <h3>ANTES/DESPUÉS</h3>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#0" class="img_container">
                            <img src="~/Content/accionfit_img/antesdespues3.jpg" data-src="~/Content/accionfit_img/antesdespues3.jpg" alt="" class="lazy loaded" data-was-processed="true">
                            <div class="short_info opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)" style="background-color: rgba(0, 0, 0, 0.5);">
                                <h3>ANTES/DESPUÉS</h3>

                            </div>
                        </a>
                    </li>
                </ul>
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <center>
                            <div class="price_main" style="text-align:center;"><span style="font-size:35px;" class="new_price">S/6,599.00</span><span style="font-size:25px;" class="percentage">-45%</span> <span class="old_price">S/12,000.00</span></div>
                        </center>
                    </div>
                </div>
                <br />
                <div class="countdown_inner">
                    <h1 style="color:#fff;">
                        OFERTA INSUPERABLE -45% OFF, CADUCA EN <div style="font-size:42px;" data-countdown="2021/02/20" class="countdown"></div>
                    </h1>
                </div>
                <br />
                <center>
                    <h1 style="text-transform:uppercase;">👉 El cambio está en tus manos 👈</br></h1>
                </center>
                <br />

                <div class="row">
                    <div class="col-lg-6">
                        <div class="btn btn-lg" style="background-color:#25d366;color:#fff;width:100%;padding:20px;height:95px;border-radius:6px;">
                            <a href="https://wa.me/51957592357?text=Hola!%20Estoy%20interesado%20en%20la%20SMITH%20MULTIFUNCIÓN%20PROFESIONAL" data-number="51961446533" data-auto-text="" target="_blank">
                                <table style="width:100%;">
                                    <tr>
                                        <td style="width:30%;">
                                            <div style="height:75px;width:75px;background-color:#229486;border-radius:50px;position:absolute;margin-top:-38px;text-align:center;">
                                                <img src="~/Content/accionfit_img/AsesoraVentas_NazarenaBaos.jpeg" width="65" height="65" style="border-radius:50px;margin-top:5px;" alt="Whatsapp">
                                            </div>
                                            <img src="https://clientes.dongee.com/whatsapp.png" width="25" height="25" style="position:absolute;margin-left: -7px;margin-top: -22px;" alt="Whatsapp">
                                        </td>
                                        <td style="width:70%;">
                                            <span style="font-size: 16px;font-weight: bold;">
                                                Chatea por whatsapp, Has click para realizar tu pedido! <br />
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </a>
                        </div>
                    </div>
                </div>
                <br />
                <center>
                    <h1 style="text-transform:uppercase;">💪 "No dejamos de hacer ejercicio porque envejecemos, envejecemos porque dejamos de hacer ejercicio – Dr. Kenneth Cooper" 💪</h1>
                </center>
                <br /><br /><br />

            </div>

          
        </main>
        <!-- /main -->

    </div>
    <!-- page -->

    <div id="toTop"></div><!-- Back to top button -->
   

    @System.Web.Optimization.Scripts.Render("~/Content/tienda2/js/common_scripts.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/tienda2/js/main.js")

    <!-- SPECIFIC SCRIPTS -->

    @System.Web.Optimization.Scripts.Render("~/Content/tienda2/js/carousel_with_thumbs.js")

    @System.Web.Optimization.Scripts.Render("~/Content/tienda2/js/carousel-home.min.js")




</body>
</html>
