
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="GYM">
    <meta name="description" content="🟧 AppsFit el Software de los gimnasios Inteligentes 🟧">
    <title>🔓📱💻 AppsFit el Software de los gimnasios Inteligentes 📊💪🚀</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/appsfitfavicon/blanco150x150.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/appsfitfavicon/blanco32x32.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/appsfitfavicon/blanco16x16.jpg">

    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}


    <link href="@Url.Content("~/Content/appfitplataformapersonafit/assets/vendor/perfect-scrollbar.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/appfitplataformapersonafit/assets/css/app.css")" rel="stylesheet" />
    @*<link href="@Url.Content("~/Content/appfitplataformapersonafit/assets/css/app.rtl.css")" rel="stylesheet" />*@
    <link href="@Url.Content("~/Content/appfitplataformapersonafit/assets/css/vendor-material-icons.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/appfitplataformapersonafit/assets/css/vendor-material-icons.rtl.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/appfitplataformapersonafit/assets/css/vendor-fontawesome-free.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/appfitplataformapersonafit/assets/css/vendor-fontawesome-free.rtl.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/appfitplataformapersonafit/assets/css/vendor-ion-rangeslider.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/appfitplataformapersonafit/assets/css/vendor-ion-rangeslider.rtl.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/appsfit_crm/vendors/glightbox/glightbox.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/appsfit_crm/assets/js/config.js")" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">


    
    <link href="@Url.Content("~/Content/appsfit_crm/vendors/plyr/plyr.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/appsfit_crm/vendors/overlayscrollbars/OverlayScrollbars.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/appsfit_crm/assets/css/theme-rtl.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/appsfit_crm/assets/css/theme.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/appsfit_crm/assets/css/user-rtl.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/appsfit_crm/assets/css/user.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/appsfit_crm/vendors/prism/prism-okaidia.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/apiwhatsapp_css/app.css")" rel="stylesheet" />

    <style>

        .borderMenuAppsfit_principal {
            border: 1px solid #2e2721;
            border-radius: 12px;
            padding: 5px;
            margin: 2px;
        }

        .borderMenuAppsfit_option {
            border: 1px solid #321900;
            border-radius: 12px;
            padding: 5px;
            margin: 2px;
        }

        .sizeMenuAppsfit_icon {
            font-size: 9px;
        }

        .sizeMenuAppsfit_text {
            font-size: 15px;
        }

        .estiloMenuAppsfit_a {
            text-decoration: none;
        }

        .bg-primary {
            background-image: linear-gradient(to right, #ff0200 80%, #ff0200 100%);
        }

        [dir=ltr] .mdk-header [data-primary] {
            z-index: 1;
            height: 30px;
        }

        [dir=ltr] .sidebar-menu-button {
            display: flex;
            align-items: center;
            font-weight: bold;
            line-height: 21px;
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 18.75px;
            font-size: 0.9rem;
        }



        /*sh menu */
        /*  head */
        .sh-menu .sh-head {
            position: fixed;
            width: 100%;
        }
            /* Button */
            .sh-menu .sh-head a {
                padding: 5px 0px;
                text-align: center;
                color: #fff;
                display: block;
                width: 70px;
                margin: 0 auto;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                font-weight: 600;
                text-transform: uppercase;
                border: 1px solid rgba(0,0,0,0.05);
                position: relative;
                top: -4px;
            }
        /* content */
        .sh-menu .sh-content {
            padding: 50px 10px;
            display: none;
        }
            /*  item */
            .sh-menu .sh-content .sh-item {
                height: 110px;
                width: 110px;
                border-radius: 100%;
                margin: 20px auto;
                background: #fff;
                text-align: center;
                box-shadow: inset 0px 0px 15px rgba(0,0,0,0.3);
                border: 2px solid #fff;
            }

                /* Image */
                .sh-menu .sh-content .sh-item img {
                    max-width: 40px;
                    margin: 0 auto;
                    margin-top: 20px;
                }
    </style>

</head>
<body class="layout-sticky-subnav" style="background-color: #e4e6e9;">

    <div class="preloader"></div>
    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">
        <!-- Header -->
        <div id="header" class="mdk-header bg-dark js-mdk-header m-0" style="padding-top: 30px;" data-fixed>
            <div class="mdk-header__content">
                <div class="navbar navbar-expand-sm navbar-main navbar-dark bg-primary pr-0 pl-md-0 pr-0" id="navbar" data-primary>
                    <div class="container-fluid pr-0 ">

                        <button class="navbar-toggler navbar-toggler-custom d-lg-none d-flex mr-navbar" type="button" data-toggle="sidebar">
                            <span class="material-icons">short_text</span>
                        </button>

                        <div class="d-flex sidebar-account flex-shrink-0 mr-auto mr-lg-0">
                            <a href="#" class="flex d-flex align-items-center text-underline-0">
                                <span class="flex d-flex flex-column text-white">
                                    <strong class="sidebar-brand">AppsFit</strong>
                                </span>
                            </a>
                        </div>

                        <ul class="ml-auto nav navbar-nav mr-2 d-none d-lg-flex">
                            <li class="nav-item ">
                                <a style="color: white;border-radius: 16px;font-size: 13px;"
                                   href="https://www.youtube.com/channel/UCtfzn-3W9tvmVK67yqmht1Q/videos"
                                   target="_blank"
                                   class="nav-link">
                                    Capacitaciones Online
                                    @*<img src="~/Content/appsfit_img/iconYoutube1.png" style="height: 18px;width: 18px;" />*@
                                </a>
                            </li>
                        </ul>

                        <form style="display:none;" class="search-form search-form--light ml-3" action="fluid-index.html">
                            <input type="text" class="form-control" placeholder="Buscar clientes">
                            <button class="btn" type="submit"><i class="material-icons">search</i></button>
                        </form>

                        <ul class="nav navbar-nav d-none d-md-flex" style="display:none;">
                            <li class="nav-item dropdown" style="display:none;">
                                <a href="#notifications_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false" style="display:none;">
                                    <span class="nav-icon navbar-notifications-indicator">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40 40" width="25" height="25">
                                            <g transform="matrix(1.6666666666666667,0,0,1.6666666666666667,0,0)">
                                                <path d="M21.5,12.254c0.003-5.247-4.248-9.502-9.494-9.506C6.759,2.745,2.503,6.996,2.5,12.243 c-0.002,2.915,1.335,5.669,3.625,7.471l-2.332,2.333c-0.39,0.39-0.39,1.024,0,1.414c0.394,0.383,1.02,0.383,1.414,0L7.863,20.8 c2.613,1.267,5.661,1.267,8.274,0l2.656,2.657c0.394,0.383,1.02,0.383,1.414,0c0.39-0.39,0.39-1.024,0-1.414l-2.332-2.333 C20.163,17.912,21.499,15.164,21.5,12.254z M11.25,5.754c0-0.414,0.336-0.75,0.75-0.75s0.75,0.336,0.75,0.75V11.5h2.75 c0.414,0,0.75,0.336,0.75,0.75S15.914,13,15.5,13H12c-0.414,0-0.75-0.336-0.75-0.75V5.754z M7.4,2.27 c0.251-0.115,0.361-0.412,0.246-0.663c-0.028-0.061-0.067-0.115-0.117-0.16C5.711-0.236,2.873-0.127,1.19,1.691 c-1.593,1.72-1.593,4.376,0,6.096C1.285,7.89,1.418,7.948,1.558,7.948c0.195-0.001,0.371-0.114,0.454-0.29 C3.11,5.278,5.02,3.368,7.4,2.27z M19.5,0.254c-1.125,0.003-2.207,0.429-3.033,1.193c-0.204,0.187-0.217,0.503-0.031,0.706 c0.045,0.049,0.099,0.089,0.16,0.117c2.38,1.098,4.29,3.008,5.388,5.388c0.085,0.174,0.26,0.286,0.454,0.29 c0.14,0,0.273-0.058,0.368-0.161c1.683-1.818,1.573-4.657-0.245-6.339C21.728,0.677,20.634,0.251,19.5,0.254z" stroke="none" fill="currentColor" stroke-width="0" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                                <div id="notifications_menu" class="dropdown-menu dropdown-menu-right navbar-notifications-menu " style="display:none;">
                                    <div class="dropdown-item d-flex align-items-center py-2">
                                        <span class="flex navbar-notifications-menu__title m-0">Notifications</span>
                                        <a href="javascript:void(0)" class="text-muted"><small>Clear all</small></a>
                                    </div>
                                    <div class="navbar-notifications-menu__content" data-perfect-scrollbar>
                                        <div class="py-2">
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <div class="avatar avatar-xs">
                                                        <img src="assets/images/256_daniel-gaffey-1060698-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                                    </div>
                                                </div>
                                                <div class="flex">
                                                    <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                                                    <small class="text-muted">1 minute ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs">
                                                            <span class="avatar-title bg-primary rounded-circle"><i class="material-icons icon-16pt">person_add</i></span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    New user <a href="#">Peter Parker</a> signed up.<br>
                                                    <small class="text-muted">1 hour ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs">
                                                            <span class="avatar-title rounded-circle">JD</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                                    <div>Hey, how are you? What about our next meeting</div>
                                                    <small class="text-muted">2 minutes ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <div class="avatar avatar-xs">
                                                        <img src="assets/images/256_daniel-gaffey-1060698-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                                    </div>
                                                </div>
                                                <div class="flex">
                                                    <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                                                    <small class="text-muted">1 minute ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs">
                                                            <span class="avatar-title bg-primary rounded-circle"><i class="material-icons icon-16pt">person_add</i></span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    New user <a href="#">Peter Parker</a> signed up.<br>
                                                    <small class="text-muted">1 hour ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs">
                                                            <span class="avatar-title rounded-circle">JD</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                                    <div>Hey, how are you? What about our next meeting</div>
                                                    <small class="text-muted">2 minutes ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <div class="avatar avatar-xs">
                                                        <img src="assets/images/256_daniel-gaffey-1060698-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                                    </div>
                                                </div>
                                                <div class="flex">
                                                    <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                                                    <small class="text-muted">1 minute ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs">
                                                            <span class="avatar-title bg-primary rounded-circle"><i class="material-icons icon-16pt">person_add</i></span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    New user <a href="#">Peter Parker</a> signed up.<br>
                                                    <small class="text-muted">1 hour ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs">
                                                            <span class="avatar-title rounded-circle">JD</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                                    <div>Hey, how are you? What about our next meeting</div>
                                                    <small class="text-muted">2 minutes ago</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0);" class="dropdown-item text-center navbar-notifications-menu__footer">View All</a>
                                </div>
                            </li>


                        </ul>

                        <div class="dropdown">
                            <a onclick="btnAbrir_modalSalirSistema();" class="dropdown-toggle navbar-toggler navbar-toggler-dashboard border-left d-flex align-items-center ml-navbar" data-toggle="dropdown">
                                <img src="@HttpContext.Current.Request.Cookies["_urlCorporativo_Logo"].Value" class="rounded-circle" width="28" alt="Frontted">
                                <span class="ml-1 d-flex-inline">
                                    <span class="text-light">@HttpContext.Current.Request.Cookies["_Usuario_Business"].Value</span>
                                </span>
                            </a>
                            <div id="company_menu" class="dropdown-menu dropdown-menu-right navbar-company-menu">

                                <a class="dropdown-item d-flex align-items-center py-2" href="login.html">
                                    <span class="material-icons mr-2">exit_to_app</span> CERRAR SESIÓN
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- // END Header -->
        <!-- Header Layout Content class="mdk-header-layout__content page"-->
        <div>

            <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

            @RenderBody()

        </div>
        <!-- // END header-layout__content -->
    </div>
    <!-- // END header-layout -->

    <div class="mdk-drawer js-mdk-drawer" id="default-drawer" data-align="end">

        <div class="mdk-drawer__content">

            <div class="sidebar sidebar-light sidebar-left" data-perfect-scrollbar>

                <div class="sidebar-block p-0 m-0">

                    <div class="d-flex align-items-center sidebar-p-a border-bottom bg-light">
                        <a href="#" class="flex d-flex align-items-center text-body text-underline-0">
                            <span class="avatar avatar-sm mr-2">
                                <span class="avatar-title rounded-circle bg-soft-secondary text-muted">
                                    <img style="width:39px;height:39px;border-radius:50%;" src="@HttpContext.Current.Request.Cookies["_urlCorporativo_Logo"].Value" alt="Appsfit" />
                                </span>
                            </span>
                            <span class="flex d-flex flex-column">
                                <strong>@HttpContext.Current.Request.Cookies["_urlCorporativo_EstadoEmpresa"].Value</strong>
                            </span>
                        </a>
                        <div class="dropdown ml-auto">
                            <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted"><i class="material-icons">more_vert</i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="fluid-student-dashboard.html">Dashboard</a>
                                <a class="dropdown-item" href="fluid-student-profile.html">My profile</a>
                                <a class="dropdown-item" href="fluid-student-edit-account.html">Edit account</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" rel="nofollow" data-method="delete" href="login.html">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-3 col-lg-3 col-md-6 col-sm-6 border-right" style="padding-top: 10px;">

                            <div class="sidebar-block p-0">

                                <div class="sidebar-heading">Gestión del centro</div>

                                <ul class="sidebar-menu mt-0">
                                    <li class="sidebar-menu-item" data-controlmodulo="28ef2288-9633-4fb4-a560-652a843efe53" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("membresiaspagos","operacionesfit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_option">
                                                <span class="nav-link-icon"> <span class="fas fa-circle text-white sizeMenuAppsfit_icon"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">Ingreso de membresías y pagos</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="60a0e867-1cee-4288-bce2-dc91efb46637" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("planesmembresias","operacionesfit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_option">
                                                <span class="nav-link-icon"> <span class="fas fa-circle text-white sizeMenuAppsfit_icon"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">Ingreso de planes y diario</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="7c160841-831b-4f65-bd7d-9431bacbb49d" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("Index","itemsventafit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_option">
                                                <span class="nav-link-icon"> <span class="fas fa-circle text-white sizeMenuAppsfit_icon"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">Ingreso de productos</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="ee7b76c5-4cb1-43c3-9969-9147f3541259" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("Index","inventarioajustefit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_option">
                                                <span class="nav-link-icon"> <span class="fas fa-circle text-white sizeMenuAppsfit_icon"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">Actualizar inventario</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="a70bccf4-d1dc-4e07-bf64-dd058f39cf37" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("Configuracion","reservapresencial",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_option">
                                                <span class="nav-link-icon"> <span class="fas fa-circle text-white sizeMenuAppsfit_icon"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">Clases grupales</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="16548d28-f301-494f-8987-6dcde894a7d6" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("personalfijo","operacionesfit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_option">
                                                <span class="nav-link-icon"> <span class="fas fa-circle text-white sizeMenuAppsfit_icon"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">Personal fijo</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="731cc564-a98b-4640-b0f5-107c714144fc" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("gastos","operacionesfit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_option">
                                                <span class="nav-link-icon"> <span class="fas fa-circle text-white sizeMenuAppsfit_icon"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">Gastos administrativos</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="384387e7-fc65-45e6-83f0-bde6a1f6900c" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("historialmetas","operacionesfit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_option">
                                                <span class="nav-link-icon"> <span class="fas fa-circle text-white sizeMenuAppsfit_icon"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">Metas de vendedores</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="16cdb705-f84a-43ff-a8c5-ce17e0e13b24" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("anularventas","operacionesfit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_option">
                                                <span class="nav-link-icon"> <span class="fas fa-circle text-white sizeMenuAppsfit_icon"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">Anular ventas</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="40c9b04c-18d1-4ffc-b88f-79aa43a8036f" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("usuarios","operacionesfit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_option">
                                                <span class="nav-link-icon"> <span class="fas fa-circle text-white sizeMenuAppsfit_icon"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">Usuarios</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="fb8a3d7d-68a8-4a9b-ab9c-9bb049c24c75" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("permisos","operacionesfit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_option">
                                                <span class="nav-link-icon"> <span class="fas fa-circle text-white sizeMenuAppsfit_icon"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">Permisos</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="ec078d2c-4af2-4d1d-94e5-bf94903db005" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("configuracion","operacionesfit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_option">
                                                <span class="nav-link-icon"> <span class="fas fa-circle text-white sizeMenuAppsfit_icon"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">Configuración</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>

                                <div class="sidebar-heading" style="display:none;">Inventario</div>
                                <div class="sidebar-block p-0" style="display:none;">
                                    <ul class="sidebar-menu" id="components_menu">

                                        <li class="sidebar-menu-item" style="display:none;">
                                            <a class="sidebar-menu-button" href="@Url.Action("Configuracion","reservapresencial",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">

                                                <span class="sidebar-menu-text">Categorias</span>
                                                <span class="badge badge-primary ml-auto">nuevo</span>
                                            </a>
                                        </li>
                                        <li class="sidebar-menu-item" style="display:none;">
                                            <a class="sidebar-menu-button" href="@Url.Action("Configuracion","reservapresencial",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">

                                                <span class="sidebar-menu-text">Clientes</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                            <div class="sidebar-heading" style="display:none;">Tu tienda virtual</div>
                            <div class="sidebar-block p-0" style="display:none;">
                                <ul class="sidebar-menu" id="components_menu">
                                    <li class="sidebar-menu-item" style="display:none;">
                                        <a class="sidebar-menu-button" href="@Url.Action("index","tienda",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})" target="_blank">

                                            <span class="sidebar-menu-text">Ver mi tienda virtual</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" style="display:none;">
                                        <a class="sidebar-menu-button" href="@Url.Action("confitienda","tienda",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <span class="sidebar-menu-text">Agregar fotos</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" style="display:none;">
                                        <a class="sidebar-menu-button" href="@Url.Action("Configuracion","admintiendafit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">

                                            <span class="sidebar-menu-text">Apariencia</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" style="display:none;">
                                        <a class="sidebar-menu-button" href="@Url.Action("formasdepago","admintiendafit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">

                                            <span class="sidebar-menu-text">Formas de pago</span>
                                            <span class="badge badge-primary ml-auto">nuevo</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" style="display:none;">
                                        <a class="sidebar-menu-button" href="@Url.Action("tarifasdeenvio","admintiendafit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">

                                            <span class="sidebar-menu-text">Tarifas de envio</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" style="display:none;">
                                        <a class="sidebar-menu-button" href="@Url.Action("cupones","admintiendafit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">

                                            <span class="sidebar-menu-text">Cupones</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" style="display:none;">
                                        <a class="sidebar-menu-button" href="@Url.Action("enviogratis","admintiendafit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">

                                            <span class="sidebar-menu-text">Envio gratis</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="sidebar-heading" data-controlmodulo="9d5455b5-4e2c-48c8-8b30-567f1fe16c94" style="display:none;">Plataforma de reservas</div>
                            <div class="sidebar-block p-0">
                                <ul class="sidebar-menu" id="components_menu">
                                    <li class="sidebar-menu-item" data-controlmodulo="545d311b-20dd-46fa-a240-62926d19e4a7" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("login","pg",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_option">
                                                <span class="nav-link-icon"> <span class="fas fa-circle text-white sizeMenuAppsfit_icon"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">Ver mi plataforma</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="8a6ec93f-c815-460c-a548-70ec281674f8" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("ConfiguracionM","reservapresencial",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_option">
                                                <span class="nav-link-icon"> <span class="fas fa-circle text-white sizeMenuAppsfit_icon"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">Control de aforo</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="sidebar-heading" data-controlmodulo="249a0227-a6dd-4752-b089-12925622dcbd" style="display:none;">Tu pagina web</div>
                            <div class="sidebar-block p-0">
                                <ul class="sidebar-menu" id="components_menu">
                                    <li class="sidebar-menu-item" data-controlmodulo="ec2ce404-82b3-47dd-a8ee-b6a52cdb5b1f" style="display:none;">
                                        <a class="sidebar-menu-button" href="@Url.Action("inicio","pg",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})" target="_blank">
                                            <span class="sidebar-menu-text">Ver mi pagina web</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="9d5ab443-710b-47d2-956c-c6e84e13c3d1" style="display:none;">
                                        <a class="sidebar-menu-button" href="@Url.Action("aparienciapaginaweb","operacionesfit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})" target="_blank">
                                            <span class="sidebar-menu-text">Cambiar apariencia</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3 col-lg-3 col-md-6 col-sm-6" style="padding-top: 10px;">
                            <div class="sidebar-heading">Acceso directo mobile</div>
                            <div class="d-flex flex-column">
                                <ul class="nav nav-pills flex-column mb-auto" style="margin-left: -10px;">
                                    <li class="sidebar-menu-item" data-controlmodulo="45833cdd-55db-4a67-a879-f1ae9353f8bf" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("checking","gestionce",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_principal">
                                                <span class="nav-link-icon"> <span class="fa fa-check-circle text-white sizeMenuAppsfit_icon" style="font-size: 15px;"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">CLIENTES</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="9e69cfd8-b063-44df-a7f2-a3a10d1eb899" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("posfitness","pos",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_principal">
                                                <span class="nav-link-icon"> <span class="fa fa-cart-plus text-white sizeMenuAppsfit_icon" style="font-size: 15px;"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">PUNTO DE VENTA</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="7611dfbe-186f-4abe-8e2e-e64ad7281728" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("caja","gestionce",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_principal">
                                                <span class="nav-link-icon"> <span class="fa fa-th-large text-white sizeMenuAppsfit_icon" style="font-size: 15px;"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">CAJA</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="93c0d848-83aa-45eb-a83a-ded00a6b6e23" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("nutricion","gestionce",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_principal">
                                                <span class="nav-link-icon"> <span class="fas fa-heartbeat text-white sizeMenuAppsfit_icon" style="font-size: 15px;"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">MEDIDAS Y NUTRICION</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="947dc11f-3e14-4fe7-bedc-ae3d81219bee" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("Index","inventariofit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_principal">
                                                <span class="nav-link-icon"> <span class="fa fa-barcode text-white sizeMenuAppsfit_icon" style="font-size: 15px;"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">INVENTARIO</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="39497bd3-94ab-4236-a1d4-4623d854f91e" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("agendacomercial","gestionce",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_principal">
                                                <span class="nav-link-icon"> <span class="fa fa-list-alt text-white sizeMenuAppsfit_icon" style="font-size: 15px;"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">AGENDA COMERCIAL</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="bbc035e6-68ea-4885-917f-005ad3fcfb66" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("metascomerciales","gestionce",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_principal">
                                                <span class="nav-link-icon"> <span class="fa fa-users text-white sizeMenuAppsfit_icon" style="font-size: 15px;"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">METAS VENDEDORES</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="e1eadd0d-39b3-498d-b09b-9b3b28610b9b" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("informesfit","gestionce",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_principal">
                                                <span class="nav-link-icon"> <span class="fa fa-address-card text-white sizeMenuAppsfit_icon" style="font-size: 15px;"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">INFORMES</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="600dabf4-7dc3-4dc0-a0ba-74b782955e52" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("pagospersonal","gestionce",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_principal">
                                                <span class="nav-link-icon"> <span class="fa fa-credit-card text-white sizeMenuAppsfit_icon" style="font-size: 15px;"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">PAGOS PERSONAL</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="b1f65597-fd27-46ca-90d0-a0f2f1039ef7" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("finanzas","gestionce",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_principal">
                                                <span class="nav-link-icon"> <span class="far fa-money-bill-alt text-white sizeMenuAppsfit_icon" style="font-size: 15px;"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">FINANZAS</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item" data-controlmodulo="4c01e8de-9440-4927-a2f2-d6241d925c39" style="display:none;">
                                        <a style="text-decoration:none;" href="@Url.Action("estadisticas","gestionce",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                                            <div class="d-flex align-items-center borderMenuAppsfit_principal">
                                                <span class="nav-link-icon"> <span class="far fa-chart-bar text-white sizeMenuAppsfit_icon" style="font-size: 15px;"></span> </span><span class="nav-link-text ps-1 text-white sizeMenuAppsfit_text">ESTADISTICAS</span>
                                            </div>
                                        </a>
                                    </li>

                                </ul>

                            </div>
                            <br />
                            <div class="col-lg-12 col-md-12">

                                <a style="text-decoration: none; --tw-gradient-from: #128c7e; font-size: 16px; position: relative; color: #fff; --tw-gradient-from: #128c7e; --tw-gradient-stops: #25d366, #128c7e; background-image: linear-gradient(to bottom right,var(--tw-gradient-stops)); display: inline-block; width: 100%; line-height: 35px; font-weight: 500; transition: all .5s ease; text-align: center; font-family: 'Poppins', sans-serif; border-radius: 50px; background-size: 300% 100%; box-shadow: 0px; border: 0px !important;" href="https://wa.me/51957592357?text=HOLA!%20CENTRO%20DE%20AYUDA,%20TENGO%20UNA%20CONSULTA%20DEL%20SISTEMA%20APPSFIT" data-number="51961446533" data-auto-text="" target="_blank">
                                    Centro de ayuda <span style="font-size: 20px;" class="fab fa-whatsapp"></span>
                                </a>
                                <br /><br />

                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-12 col-sm-12 " style="padding-top: 10px; padding: 10px;">
                            <div class="sidebar-heading">Capacitaciones Appsfit</div>
                            <br />
                            <div class="card h-60" style="background-color: #161616;">
                                <div class="card-body">
                                    <h5 class="text-white">¿Como empezar a usar Appsfit? 🤩🌎🎬</h5>
                                    <div>
                                        <div class="player" data-plyr-provider="youtube" data-plyr-embed-id="M2vYIROs6RE"></div>
                                    </div>
                                </div>
                            </div>

                            <a href="@Url.Action("Index","capacitacionesappsfit")" style="text-decoration: none; --tw-gradient-from: #128c7e; font-size: 16px; position: relative; color: #fff; --tw-gradient-from: #128c7e; --tw-gradient-stops: #25d366, #128c7e; background-image: linear-gradient(to right, #ff0200 80%, #ffab28 100%); display: inline-block; width: 90%; line-height: 35px; font-weight: 500; transition: all .5s ease; text-align: center; font-family: 'Poppins', sans-serif; border-radius: 50px; background-size: 300% 100%; box-shadow: 0px; border: 0px !important;" target="_blank">
                                Ver Capacitaciones Online <span style="font-size: 20px;" class="fas fa-video"></span>
                            </a>
                        </div>
                    </div>

                </div>
               
            </div>
        </div>
    </div>

    <div id="modalSalirSistema" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-small-title" aria-modal="true" style="padding-right: 17px;">
        <br /><br /><br /><br />
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-small-title"></h5>
                    <button onclick="btnCerrar_modalSalirSistema();" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div> <!-- // END .modal-header -->
                <div class="modal-body">

                    <a href="@Url.Action("login","access",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">
                        <div style="cursor:pointer;background-color:red;color:#fff;text-align:center;padding:10px;border-radius: 12px;">
                            <p class="tx-center" style="font-size:25px;padding-top: 12px;font-weight:bold;">CERRAR SESIÓN</p>
                        </div>
                    </a>
                    <br />
                    <div onclick="btnCerrar_modalSalirSistema();" style="cursor:pointer;background-color:#8E8E93;color:#fff;text-align:center;padding:10px;border-radius: 12px;">
                        <p class="tx-center" style="font-size:25px;padding-top: 12px;font-weight:bold;">CANCELAR</p>
                    </div>
                </div> <!-- // END .modal-body -->
                <div class="modal-footer">

                </div> <!-- // END .modal-footer -->
            </div> <!-- // END .modal-content -->
        </div> <!-- // END .modal-dialog -->
    </div>

    <!-- App Settings FAB -->
    <div id="app-settings" style="display:none;">
        <app-settings layout-active="fixed" :layout-location="{
      'default': 'index.html',
      'fixed': 'fixed-index.html',
      'fluid': 'fluid-index.html',
      'mini': 'mini-index.html'
    }"></app-settings>
    </div>

    @System.Web.Optimization.Scripts.Render("~/Content/appfitplataformapersonafit/assets/vendor/jquery.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/appfitplataformapersonafit/assets/vendor/popper.min.js")

    @System.Web.Optimization.Scripts.Render("~/Content/appfitplataformapersonafit/assets/vendor/bootstrap.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/appfitplataformapersonafit/assets/vendor/perfect-scrollbar.min.js")

    @System.Web.Optimization.Scripts.Render("~/Content/appfitplataformapersonafit/assets/vendor/dom-factory.js")
    @System.Web.Optimization.Scripts.Render("~/Content/appfitplataformapersonafit/assets/vendor/material-design-kit.js")
    @System.Web.Optimization.Scripts.Render("~/Content/appfitplataformapersonafit/assets/vendor/ion.rangeSlider.min.js")

    @System.Web.Optimization.Scripts.Render("~/Content/appfitplataformapersonafit/assets/js/ion-rangeslider.js")
    @System.Web.Optimization.Scripts.Render("~/Content/appfitplataformapersonafit/assets/js/toggle-check-all.js")
    @System.Web.Optimization.Scripts.Render("~/Content/appfitplataformapersonafit/assets/js/check-selected-row.js")
    @System.Web.Optimization.Scripts.Render("~/Content/appfitplataformapersonafit/assets/js/dropdown.js")

    @System.Web.Optimization.Scripts.Render("~/Content/appfitplataformapersonafit/assets/js/sidebar-mini.js")
    @System.Web.Optimization.Scripts.Render("~/Content/appfitplataformapersonafit/assets/js/app.js")
    @System.Web.Optimization.Scripts.Render("~/Content/appfitplataformapersonafit/assets/js/app-settings.js")


    @System.Web.Optimization.Scripts.Render("~/Content/appsfit_crm/vendors/overlayscrollbars/OverlayScrollbars.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/appsfit_crm/vendors/fontawesome/all.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/appsfit_crm/vendors/lodash/lodash.min.js")

    @System.Web.Optimization.Scripts.Render("~/Content/appsfit_crm/vendors/plyr/plyr.polyfilled.min.js")

    <script src="https://kit.fontawesome.com/1e97400d15.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.js" integrity="sha512-Do1Gpnh47tqiz6kWxcYTWTe2mjZcxA1uwuVGpyZjjzd1I0qFJ6Ai6WMUJy3F+1/8IFW6j4DULDZ6mbidXjSQ0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function (e) {
            // Change "{}" to your options:
            // https://github.com/sampotts/plyr/#options
            const player = new Plyr('.player', {});

            // Expose player so it can be used from the console
            window.player = player;
        });

        function btnCerrar_modalSalirSistema() {
            document.getElementById('modalSalirSistema').style.display = 'none';
        }

        function btnAbrir_modalSalirSistema() {
            document.getElementById('modalSalirSistema').style.display = 'block';
        }


    </script>

    <!--Start of Tawk.to Script CHAT DEL LORO-->
    @*<script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/622a3f6f1ffac05b1d7df855/1ftqs3fo2';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>*@
    <!--End of Tawk.to Script-->
</body>
</html>
