
@{}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Tienda</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat%7CRoboto:100,300,400,500,700,900%7CRoboto+Condensed:100,300,400,500,700" rel="stylesheet">

    <link href="@Url.Content("~/Content/style1/css/icon-font-linea.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/style1/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/style1/css/bootstrap-theme.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/style1/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/style1/css/effect.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/style1/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/style1/css/home.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/style1/css/owl.theme.default.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/style1/css/owl.carousel.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/style1/css/responsive.css")" rel="stylesheet" />
</head>
<body>

    <!-- push menu-->
    <div class="pushmenu menu-home5">
        <div class="menu-push">
            <span class="close-left js-close"><i class="fa fa-times f-20"></i></span>
            <div class="clearfix"></div>
            <form role="search" method="get" id="searchform" class="searchform" action="/search">
                <div>
                    <label class="screen-reader-text" for="q"></label>
                    <input type="text" placeholder="Search for products" value="" name="q" id="q" autocomplete="off">
                    <input type="hidden" name="type" value="product">
                    <button type="submit" id="searchsubmit"><i class="ion-ios-search-strong"></i></button>
                </div>
            </form>
            <ul class="nav-home5 js-menubar">
                <li class="level1 active dropdown">
                    <a href="#">X Inicio</a>                
                </li>
                <li class="level1 active dropdown">
                    <a href="#">X Nosotros</a>                 
                </li>
                <li class="level1">
                    <a href="#">X Horario</a>                 
                </li>
                <li class="level1">
                    <a href="#">X Nutricion</a>                 
                </li>
            </ul>
        </div>
    </div>
    <!-- end push menu-->
    <!-- Menu Mobile -->
    <div class="menu-mobile-left-content menu-bg-white">
        <ul>
            <li><a href="#"><img src="/Content/style1/img/icon_hot_gray.png" alt="Icon Hot Deals" /> <p>Hot Deals</p></a></li>
            <li><a href="#"><img src="/Content/style1/img/icon_food_gray.png" alt="Icon Food" /> <p>Food</p></a></li>
            <li><a href="#"><img src="/Content/style1/img/icon_mobile_gray.png" alt="Icon Mobile & Tablet" /> <p>Mobile & Tablet</p></a></li>
            <li><a href="#"><img src="/Content/style1/img/icon_electric_gray.png" alt="Icon Electric Appliances" /> <p>Electric Appliances</p></a></li>
            <li><a href="#"><img src="/Content/style1/img/icon_computer_gray.png" alt="Icon Electronics & Technology" /> <p>Electronics & Technology</p></a></li>
            <li><a href="#"><img src="/Content/style1/img/icon_fashion_gray.png" alt="Icon Fashion" /> <p>Fashion</p></a></li>
            <li><a href="#"><img src="/Content/style1/img/icon_health_gray.png" alt="Icon Health & Beauty" /> <p>Health & Beauty</p></a></li>
            <li><a href="#"><img src="/Content/style1/img/icon_mother_gray.png" alt="Icon Mother & Baby" /> <p>Mother & Baby</p></a></li>
            <li><a href="#"><img src="/Content/style1/img/icon_book_gray.png" alt="Icon Books & Stationery" /> <p>Books & Stationery</p></a></li>
            <li><a href="#"><img src="/Content/style1/img/icon_home_gray.png" alt="Icon Home & Life" /> <p>Home & Life</p></a></li>
            <li><a href="#"><img src="/Content/style1/img/icon_sport_gray.png" alt="Icon Sports & Outdoors" /> <p>Sports & Outdoors</p></a></li>
            <li><a href="#"><img src="/Content/style1/img/icon_auto_gray.png" alt="Icon Auto & Moto" /> <p>Auto & Moto</p></a></li>
            <li><a href="#"><img src="/Content/style1/img/icon_voucher_gray.png" alt="Icon Voucher Service" /> <p>Voucher Service</p></a></li>
        </ul>
    </div>

    <!-- Header Box -->
    <div class="wrappage">
        <header class="relative full-width">
            <div class=" container-web relative">
                <div class=" container">
                    <div class="row">
                        <div class=" header-top">
                            <p class="contact_us_header col-md-4 col-xs-12 col-sm-3 clear-margin">
                                <img src="@Url.Content("~/Content/style1/img/icon_phone_top.png")" alt="Icon Phone Top Header" /> Call us <span class="text-red bold">070-7782-7137</span>
                            </p>
                            <div class="menu-header-top text-right col-md-8 col-xs-12 col-sm-6 clear-padding">
                                <ul class="clear-margin">
                                    <li class="relative"><a href="#">Mi cuenta</a></li>
                                    <li class="relative"><a href="#">Orden</a></li>                                 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="clearfix header-content full-width relative">
                            <div class="clearfix icon-menu-bar">
                                <i class="data-icon data-icon-arrows icon-arrows-hamburger-2 icon-pushmenu js-push-menu"></i>
                            </div>
                            <div class="clearfix logo">
                                <a href="#"><img alt="Logo" src="@Url.Content("~/Content/style1/img/logo.png")" /></a>
                            </div>
                            <div class="clearfix search-box relative float-left">
                                <form method="GET" action="/" class="">
                                    <div class="clearfix category-box relative">
                                        <select name="cate_search">
                                            <option>Categorias</option>
                                            <option>S Food</option>
                                            <option>S Mobile & Tablet</option>
                                            <option>S Electric Appliances</option>
                                            <option>S Electronics & Technology</option>
                                            <option>S Fashion</option>
                                            <option>S Health & Beauty</option>
                                            <option>S Mother & Baby</option>
                                            <option>S Books & Stationery</option>
                                            <option>S Home & Life</option>
                                            <option>S Sports & Outdoors</option>
                                            <option>S Auto & Moto</option>
                                            <option>S Voucher Service</option>
                                        </select>
                                    </div>
                                    <input type="text" name="s" placeholder="Enter keyword here . . .">
                                    <button type="submit" class="animate-default button-hover-red">Buscar</button>
                                </form>
                            </div>
                            <div class="clearfix icon-search-mobile absolute">
                                <i onclick="showBoxSearchMobile()" class="data-icon data-icon-basic icon-basic-magnifier"></i>
                            </div>
                            <div class="clearfix cart-website absolute" onclick="showCartBoxDetail()">
                                <img alt="Icon Cart" src="/Content/style1/img/icon_cart.png" />
                                <p class="count-total-shopping absolute">2</p>
                            </div>
                            <div class="clearfix cart-website absolute" onclick="showCartBoxDetail()">
                                <img alt="Icon Cart" src="/Content/style1/img/icon_cart.png" />
                                <p class="count-total-shopping absolute">2</p>
                            </div>
                            <div class="cart-detail-header border">
                                <div class="relative">
                                    <div class="product-cart-son clearfix">
                                        <div class="image-product-cart float-left center-vertical-image ">
                                            <a href="#"><img src="/Content/style1/img/product_image_6-min.png" alt="" /></a>
                                        </div>
                                        <div class="info-product-cart float-left">
                                            <p class="title-product title-hover-black"><a class="animate-default" href="#">MH02-Black09</a></p>
                                            <p class="clearfix price-product">$350 <span class="total-product-cart-son">(x1)</span></p>
                                        </div>
                                    </div>
                                    <div class="product-cart-son">
                                        <div class="image-product-cart float-left center-vertical-image">
                                            <a href="#"><img src="/Content/style1/img/product_image_7-min.png" alt="" /></a>
                                        </div>
                                        <div class="info-product-cart float-left">
                                            <p class="title-product title-hover-black"><a class="animate-default" href="#">Voyage Yoga Bag</a></p>
                                            <p class="clearfix price-product">$350 <span class="total-product-cart-son">(x1)</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="relative border no-border-l no-border-r total-cart-header">
                                    <p class="bold clear-margin">Subtotal:</p>
                                    <p class=" clear-margin bold">$700</p>
                                </div>
                                <div class="relative btn-cart-header">
                                    <a href="#" class="uppercase bold animate-default">view cart</a>
                                    <a href="#" class="uppercase bold button-hover-red animate-default">checkout</a>
                                </div>
                            </div>
                            <div class="mask-search absolute clearfix" onclick="hiddenBoxSearchMobile()"></div>
                            <div class="clearfix box-search-mobile">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a class="menu-vertical hidden-md hidden-lg" onclick="showMenuMobie()">
                            <span class="animate-default"><i class="fa fa-list" aria-hidden="true"></i> all categories</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="menu-header-v3 hidden-ipx">
                <div class="container">
                    <div class="row">
                        <!-- Menu Page -->
                        <div class="menu-header full-width">
                            <ul class="clear-margin">
                                <li onclick="showMenuHomeV3()"><a class="animate-default" href="#"><i class="fa fa-list" aria-hidden="true"></i>Categorias</a></li>
                                <li class="title-hover-red">
                                    <a class="animate-default" href="#">Inicio</a>
                                </li>
                                <li class="title-hover-red">
                                    <a class="animate-default" href="#">Nosotros</a>
                                </li>
                                <li class="title-hover-red">
                                    <a class="animate-default" href="#">Horario</a>
                                </li>
                                <li class="title-hover-red">
                                    <a class="animate-default" href="#">Nutricion</a>
                                </li>
                                <li class="title-hover-red">
                                    <a class="animate-default" href="#">Blog</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Menu Page -->
                    </div>
                </div>
            </div>
            <div class="clearfix menu_more_header menu-web menu-bg-white">
                <ul>
                    <li><a href="#"><img src="/Content/style1/img/icon_hot_gray.png" alt="Icon Hot Deals" /> <p>X Hot Deals</p></a></li>
                    <li><a href="#"><img src="/Content/style1/img/icon_food_gray.png" alt="Icon Food" /> <p>X Food</p></a></li>
                    <li><a href="#"><img src="/Content/style1/img/icon_mobile_gray.png" alt="Icon Mobile & Tablet" /> <p>X Mobile & Tablet</p></a></li>
                    <li><a href="#"><img src="/Content/style1/img/icon_electric_gray.png" alt="Icon Electric Appliances" /> <p>X Electric Appliances</p></a></li>
                    <li><a href="#"><img src="/Content/style1/img/icon_computer_gray.png" alt="Icon Electronics & Technology" /> <p>X Electronics & Technology</p></a></li>
                    <li><a href="#"><img src="/Content/style1/img/icon_fashion_gray.png" alt="Icon Fashion" /> <p>X Fashion</p></a></li>
                    <li><a href="#"><img src="/Content/style1/img/icon_health_gray.png" alt="Icon Health & Beauty" /> <p>X Health & Beauty</p></a></li>
                    <li><a href="#"><img src="/Content/style1/img/icon_mother_gray.png" alt="Icon Mother & Baby" /> <p>X Mother & Baby</p></a></li>
                    <li><a href="#"><img src="/Content/style1/img/icon_book_gray.png" alt="Icon Books & Stationery" /> <p>X Books & Stationery</p></a></li>
                    <li><a href="#"><img src="/Content/style1/img/icon_home_gray.png" alt="Icon Home & Life" /> <p>X Home & Life</p></a></li>
                    <li><a href="#"><img src="/Content/style1/img/icon_sport_gray.png" alt="Icon Sports & Outdoors" /> <p>X Sports & Outdoors</p></a></li>
                    <li><a href="#"><img src="/Content/style1/img/icon_auto_gray.png" alt="Icon Auto & Moto" /> <p>X Auto & Moto</p></a></li>
                    <li><a href="#"><img src="/Content/style1/img/icon_voucher_gray.png" alt="Icon Voucher Service" /> <p>X Voucher Service</p></a></li>
                </ul>
            </div>
            <div class="header-ontop">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="clearfix logo">
                                <a href="#"><img alt="Logo" src="/Content/style1/img/logo.png" /></a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="menu-header">
                                <ul class="main__menu clear-margin">
                                    <li class="title-hover-red">
                                        <a class="animate-default" href="#">Inicio</a>
                                    </li>
                                    <li class="title-hover-red">
                                        <a class="animate-default" href="#">Nosotros</a>
                                    </li>
                                    <li class="title-hover-red">
                                        <a class="animate-default" href="#">Horario</a>
                                    </li>
                                    <li class="title-hover-red">
                                        <a class="animate-default" href="#">Nutricion</a>
                                    </li>
                                    <li class="title-hover-red">
                                        <a class="animate-default" href="#">Blog</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Header Box -->

        <div class="relative clearfix full-width">


            @RenderBody()


        </div>
        <!-- End Content Box -->
        <!-- Footer Box -->
        <footer class=" bg-gray full-width border no-border-r no-border-l footer-v3 no-border-b">
            <div class="clearfix container-web relative">
                <div class=" container clear-padding">
                    <div class="row">
                        <!-- Support -->
                        <div class="clearfix support-box support-box-v3 full-width">
                            <div class="container-web clearfix">
                                <div class=" container ">
                                    <div class="row">
                                        <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                                            <img src="/Content/style1/img/icon_free_ship.png" alt="Icon Free Ship" class="float-left" />
                                            <p class="float-left">free shipping</p>
                                            <p class="float-left">on order over $500</p>
                                        </div>
                                        <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                                            <img src="/Content/style1/img/icon_support.png" alt="Icon Supports" class="float-left">
                                            <p class="float-left">support</p>
                                            <p class="float-left">life time support 24/7</p>
                                        </div>
                                        <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                                            <img src="/Content/style1/img/icon_patner.png" alt="Icon partner" class="float-left">
                                            <p class="float-left">help partner</p>
                                            <p class="float-left">help all aspects</p>
                                        </div>
                                        <div class=" support-box-info relative col-md-3 col-sm-3 col-xs-6">
                                            <img src="/Content/style1/img/icon_phone_big.png" alt="Icon Phone Tablet" class="float-left">
                                            <p class="float-left">contact with us</p>
                                            <p class="float-left">+07 (0) 7782 9137</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Support Box -->
                    </div>
                    <div class="row">
                        <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
                            <p>my account</p>
                            <ul class="list-footer">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Login</a></li>
                                <li><a href="#">My Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">My Compare</a></li>
                            </ul>
                        </div>
                        <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
                            <p>information</p>
                            <ul class="list-footer">
                                <li><a href="#">Information</a></li>
                                <li><a href="#">Orders History</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Site Map</a></li>
                            </ul>
                        </div>
                        <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
                            <p>our services</p>
                            <ul class="list-footer">
                                <li><a href="#">Product Recall</a></li>
                                <li><a href="#">Gift Vouchers</a></li>
                                <li><a href="#">Returns And Exchanges</a></li>
                                <li><a href="#">Shipping Options</a></li>
                                <li><a href="#">Terms Of Use</a></li>
                            </ul>
                        </div>
                        <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
                            <p>contact us</p>
                            <ul class="icon-footer">
                                <li><i class="fa fa-home" aria-hidden="true"></i> 262 Milacina Mrest, Behansed, Paris</li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i> contact@yourcompany.com</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i> 070-7782-9137</li>
                                <li><i class="fa fa-fax" aria-hidden="true"></i> 070-7782-9138</li>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 AM - 18:00 PM</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Box Social -->
            <div class=" top-footer full-width">
                <div class="clearfix container-web relative">
                    <div class=" container">
                        <div class="row">
                            <div class="clearfix col-md-9 col-sm-12 clear-padding col-xs-12">
                                <div class="clearfix text-subscribe">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <p>sign up for newsletter</p>
                                    <p>Get updates on discount & counpons.</p>
                                </div>
                                <div class="clearfix form-subscribe">
                                    <input type="text" name="email-subscribe" placeholder="Enter your email . . .">
                                    <button class="animate-default button-hover-red">subscribe</button>
                                </div>
                            </div>
                            <div class="clearfix col-md-3 col-sm-12 col-xs-12 clear-padding social-box text-right">
                                <a href="#"><img src="/Content/style1/img/social_tw-min.png" alt="Icon Social Twiter"></a>
                                <a href="#"><img src="/Content/style1/img/social_fa-min.png" alt="Icon Social Facebook"></a>
                                <a href="#"><img src="/Content/style1/img/social_int-min.png" alt="Icon Social Instagram"></a>
                                <a href="#"><img src="/Content/style1/img/social_yt-min.png" alt="Icon Social Youtube" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Box Social -->
            <div class=" bottom-footer full-width">
                <div class="clearfix container-web">
                    <div class=" container">
                        <div class="row">
                            <div class="clearfix col-md-7 clear-padding copyright">
                                <p>Copyright © 2018 by EngoCreative. All Rights Reserved.</p>
                            </div>
                            <div class="clearfix footer-icon-bottom col-md-5 float-right clear-padding">
                                <div class="icon_logo_footer float-right">
                                    <img src="/Content/style1/img/image_payment_footer-min.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @System.Web.Optimization.Scripts.Render("~/Content/style1/js/jquery-3.3.1.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/style1/js/bootstrap.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/style1/js/owl.carousel.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/style1/js/scripts.js")
</body>
</html>
