
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="facebook-domain-verification" content="g4sxrje3pf23yzwuerau115wrm2dj8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Software para gimnasios,
                                   Sistema para gimnasios,
                                   Control de reserva de citas,
                                   Gestion comercial gimnasios,
                                   Gestion de centros deportivos,
                                   App de gestion de gimnasios,
                                   Mercado Fitness,
                                   Maquinas para gimnasio,
                                   Control Gym,
                                   Fitco,
                                   Trainning Gym,
                                   Gestion para gimnasios,
                                   Fitness & Gym Management Software,
                                   Perfect Gym Software
                                    ">
    <meta name="author" content="GYM">
    <meta name="description" content="📱💻AppsFit el Software para Gimnasios Inteligentes📊💪">
    <meta name="facebook-domain-verification" content="g4sxrje3pf23yzwuerau115wrm2dj8" />
    <title>🔓📱💻 AppsFit 📊💪🚀</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/appsfitfavicon/blanco150x150.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/appsfitfavicon/blanco32x32.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/appsfitfavicon/blanco16x16.jpg">

    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <link href="https://printjs-4de6.kxcdn.com/print.min.css" />

    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Loading Template CSS -->
    <link href="@Url.Content("~/Content/paginaappsfit1/css2/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/paginaappsfit1/css2/animate.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/paginaappsfit1/css2/pe-icon-7-stroke.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/paginaappsfit1/css2/style-magnific-popup.css")" rel="stylesheet" />

    <!-- Awsome Fonts -->
    <link href="@Url.Content("~/Content/paginaappsfit1/css2/all.min.css")" rel="stylesheet" />


    <!-- Font Favicon -->
    <link href="@Url.Content("~/Content/paginaappsfit1/images/favicon.ico")" rel="stylesheet" />

    <!-- PLANTILLA 2 -->

    <link href="@Url.Content("~/Content/paginaappsfit2/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/paginaappsfit2/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/paginaappsfit2/css/fonts/font/flaticon.css")" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/1e97400d15.js" crossorigin="anonymous"></script>
    <style>
        :root {
            --colorPrincipal: #E0342B;
            --colorSecundario: #FF622D;
        }

        .css_select {
            margin-bottom: 0.5rem;
            width: 100%;
            border-radius: 0.40rem;
            padding: 1rem;
            --tw-text-opacity: 1;
            color: #fff;
            -moz-appearance: none;
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: calc(100% - 16px)52%;
            background-color: #646464;
            max-width: 100%;
            text-transform: none;
            font-family: inherit;
            font-size: 100%;
            font-weight: inherit;
            line-height: inherit;
        }
    </style>
    <!-- Meta Pixel Code Facebook AppsfitPaginaWeb_Principal -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '651319655944723');
        fbq('track', 'PageView');

    </script>

    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=651319655944723&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Meta Pixel Code -->

    <!-- smartlook GRABADOR DE PANTALLA -->
    <script type='text/javascript'>
        window.smartlook || (function (d) {
            var o = smartlook = function () { o.api.push(arguments) }, h = d.getElementsByTagName('head')[0];
            var c = d.createElement('script'); o.api = new Array(); c.async = true; c.type = 'text/javascript';
            c.charset = 'utf-8'; c.src = 'https://web-sdk.smartlook.com/recorder.js'; h.appendChild(c);
        })(document);
        smartlook('init', 'e1a41bfb2c00a357a095b43c0415f143caba7228', { region: 'eu' });
    </script>

</head>

<body class="home_page_three">

    @RenderBody()

    <!--begin footer -->
    <div class="footer" style="background: linear-gradient(90deg, var(--colorPrincipal) 0%, var(--colorPrincipal) 35%, var(--colorSecundario) 100%);">

        <!--begin container -->
        <div class="container-fluidpx-0">

            <!--begin row -->
            <div class="row no-gutters mx-0">
                <!--begin col-md-12 -->
                <div class="col-md-12 text-center">

                    <p>Copyright © 2023 <span class="template-name" style="color:#fff;">Appsfit</span>, Diseñado por <a style="color:#fff;" href="https://www.facebook.com/softwareparagimnasios" target="_blank">Appsfit</a></p>

                </div>
                <!--end col-md-6 -->
            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </div>
    <!--end footer -->
    <!-- Load JS here for greater good =============================-->
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit1/js/jquery-3.3.1.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit1/js/bootstrap.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit1/js/jquery.scrollTo-min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit1/js/jquery.magnific-popup.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit1/js/jquery.nav.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit1/js/wow.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit1/js/plugins.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit1/js/custom.js")


    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit2/js/jquery.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit2/js/popper.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit2/js/bootstrap.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit2/js/bsnav.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit2/js/jquery-ui.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit2/js/wow.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit2/js/owl.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit2/js/swiper.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit2/js/jquery.fancybox.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit2/js/TweenMax.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit2/js/validator.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit2/js/appear.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit2/js/moment.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit2/js/jquery.flexslider-min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit2/js/pagenav.js")
    @System.Web.Optimization.Scripts.Render("~/Content/paginaappsfit2/js/custom.js")

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)

    <!--Start of Tawk.to Script ESTE ES EL CHAT DEL LORO-->
   
    <!--End of Tawk.to Script-->
</body>
</html>