
@{
    ViewBag.Title = "comofunciona";
    Layout = "~/Views/Shared/_LayoutPaginaWebAppsfit1.cshtml";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

    img.btn-whatsapp {
        display: block !important;
        position: fixed;
        z-index: 9999999;
        bottom: 20px;
        left: 20px;
        cursor: pointer;
        border-radius: 100px !important;
    }

    img.btn-whatsapp:hover {
        border-radius: 100px !important;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
        box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
        transition-duration: 1s;
    }

    :root {
        --clr-1: #000;
        --clr-2: #fff;
        --body-bgclr: #fff;
        --bgclr-1: #E0342B;
        --bgclr-2: #FF622D;
    }

    h1 {
        color: var(--clr-1);
        font-size: 3rem;
        font-weight: 700;
        margin: 40px 0 10px;
    }

    p #deadline {
        color: var(--clr-1);
        font-weight: bold;
        text-transform: uppercase;
    }

    #clockdiv {
        color: var(--clr-2);
        display: inline-block;
        font-size: 5em;
        font-weight: 300;
        text-align: center;
    }

        #clockdiv > div {
            background-color: var(--bgclr-1);
            border-radius: 4px;
            display: inline-block;
            padding: 10px;
        }

        #clockdiv div > span {
            background-color: var(--bgclr-2);
            border-radius: 4px;
            display: inline-block;
            padding: 25px;
        }

    .smalltext {
        font-size: 1rem;
        padding-top: 5px;
    }

    #demo {
        color: red;
        font-weight: bold;
    }

</style>

<img class="btn-whatsapp Class_btnWhatsapp" src="https://clientes.dongee.com/whatsapp.png" width="64" height="64" alt="Whatsapp" onclick="window.location.href='https://wa.me/51957592357?text=Hola%20Appsfit!%20estoy%20interesado%20en%20el%20software%20para%20mi%20gimnasio'">

<div class="explore_more" id="testimonios" style="background-color: #000000;display:none;">
    <div class="container">
        <div class="row">

            <p class="smalltext">
                Deadline:
                <span id="deadline"></span>
            </p>

        </div>
    </div>
</div>

<section class="explore_more" id="testimonios" style="background-color: #000000;">

    <!--begin container -->
    <div class="container text-center" >
        <div class="content_box text-center">
            <img src="~/Content/appsfit_img/Appsfit_Logo_A-color-sin-fondocortado.png" style="height:80px;" />

            <h1> <br class="disp_none_md" /> <span>¡FELICITACIONES HAS GANADO 25% DE DESCUENTO!</span> </h1>
        </div>
        <br />
        <h4 style="color:#fff;font-size: 30px;font-weight:bold;" class="section-title">POR TIEMPO LIMITADO!!</h4>
        <br />
        <div id="clockdiv" class="row">
            <div>
                <span class="days" id="day"></span>
                <div class="smalltext">Días</div>
            </div>
            <div>
                <span class="hours" id="hour"></span>
                <div class="smalltext">Horas</div>
            </div>
            <div>
                <span class="minutes" id="minute"></span>
                <div class="smalltext">Minutos</div>
            </div>
            <div>
                <span class="seconds" id="second"></span>
                <div class="smalltext">Segundos</div>
            </div>
        </div>
        <p id="demo"></p>

        <br />
        <!--begin row -->
        <div class="row">

            <!--begin col-md-12 -->
            <div class="col-md-12 text-center">

                <br />
                <h4 style="color:#fff;font-size: 30px;font-weight:bold;" class="section-title">*Solo para dueños de gimnasio que aún no han realizado su primer pago de algún plan de Appsfit...</h4>
                <br />
                <div style="background: linear-gradient(90deg, #e0342b 0%, #ff291e 35%, #db4a19 100%); border-radius: 20px; padding: 5px; ">
                    <div class="text-center p-4">
                        <h3 class="fw-normal my-0">GOLD</h3>
                        <span class="fa fa-rocket" style="font-size: 35px;color:#fff;"></span> <span class="fa fa-rocket" style="font-size: 35px;color:#fff;"></span> <span class="fa fa-rocket" style="font-size: 35px;color:#fff;"></span><span class="fa fa-rocket" style="font-size: 35px;color:#fff;"></span>

                        <p class="mt-1" style="color:#000;">Hasta los 7500 clientes.</p>
                        <p class="mt-1" style="color:#000;">Solo por los 3 primeros meses.</p>
                        <p class="mt-1" style="color:#000;">Solo para los 5 primeros gimnasios que lo adquieran.</p>
                        <p class="mt-1" style="color:#000;">Promoción valida hasta el 28 de febrero 2023 o hasta agotar stock.</p>

                        <br />
                        <h3 class="fw-medium fs-0">*Plan trimestral</h3>
                        <h3 class="fw-medium fs-0" style="text-decoration: line-through;">*360 Dolares Americanos</h3>
                        <h3 class="fw-medium fs-0">*270 Dolares Americanos</h3>
                        <br />
                        <hr class="border-bottom-0 m-0" />
                        <div class="text-start px-sm-4 py-4">
                            <h5 class="fw-medium">Incluye el modulo:</h5>
                            <br />
                            <div id="divBeneficiosGOLD">
                                <h3 class="fw-medium fs-0">Gestiona y Controla</h3>
                                <hr class="border-bottom-0 m-3" />
                                <h3 class="fw-medium fs-0">Gestión Comercial y CRM</h3>
                                <hr class="border-bottom-0 m-3" />
                                <h3 class="fw-medium fs-0">Marketing por Correo y Whatsapp</h3>
                                <hr class="border-bottom-0 m-3" />
                                <h3 class="fw-medium fs-0">App de reserva de clases y pagos de membresias y productos</h3>
                            </div>

                        </div>
                        <br />

                    </div>
                    <!--end col-md-12 -->

                </div>
                <br /><br /><br />
                <h4 style="color:#fff;font-size: 28px;font-weight:bold;" class="section-title"><b style="color: #E0342B;">IMPORTANTE:</b> Para solicitar la promoción, tienes que darle clic en el botón de whatsapp👇👇👇</h4>
                <br />
                <i style="font-size: 50px;" class="fas fa-arrow-circle-down"></i>
                <br /><br /><br />
                <button onclick="EnviarDatos();" class="" type="button" style="--tw-gradient-from: #128c7e; font-size: 28px; position: relative; color: #fff; --tw-gradient-from: #128c7e; --tw-gradient-stops: #25d366, #128c7e; background-image: linear-gradient(to bottom right,var(--tw-gradient-stops)); display: inline-block; width: 80%; height: 70px; line-height: 50px; font-weight: 500; transition: all .5s ease; text-align: center; font-family: 'Poppins', sans-serif; border-radius: 50px; background-size: 300% 100%; box-shadow: 0px; border: 0px !important; ">Solicitar promoción <span style="font-size: 35px;" class="fa fa-whatsapp"></span></button>


            </div>
        </div>
    </div>
</section>

<section class="section-white section-bottom-border" style="padding-top: 0px;padding-bottom: 5px; border: 0px solid #fff;">
    <!--begin pricing-wrapper -->
    <div class="pricing-wrapper">

        <!--begin container -->
        <div class="container" style="text-align:center;">

            <br />
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <!--begin video-popup-wrapper-->
                    <div class="video-popup-wrapper margin-left-20">
                        <br />
                        <h1 style="color: #000;font-weight:bold;font-size: 35px;">
                            ¿Quieres ver lo que Appsfit puede hacer?
                            <b style="color:#E0342B">¡Mira esta demostración online!</b>
                        </h1>
                        <br /><br />
                    </div>
                    <!--end video-popup-wrapper-->

                </div>

            </div>

        </div>
        <!--end container -->

    </div>
    <!--end pricing-wrapper -->
</section>

<section class="faq_all" style="background-color: #fff; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="accordiontwo">
                    <div class="card faq_box type_one">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="faq_btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="fas fa-question-circle"></span>&nbsp;&nbsp;¿Cómo controlar el ingreso de tus clientes?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordiontwo" style="">
                            <div class="card-body">
                                <br />
                                <!--begin popup-gallery-->
                                <div class="popup-gallery">
                                    <iframe width="1200" height="498" src="https://www.youtube.com/embed/IzEvKsQsFPE?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
                                    </iframe>
                                </div>
                                <!--end popup-gallery-->
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="card faq_box type_one">
                        <div class="card-header" id="heading_gestionhorariosclases">
                            <h5 class="mb-0">
                                <button class="faq_btn collapsed" data-toggle="collapse" data-target="#collapse_gestionhorariosclases" aria-expanded="false" aria-controls="collapse_gestionhorariosclases">
                                    <span class="fas fa-question-circle"></span>&nbsp;&nbsp;¿Cómo gestionar los horario de tus clases de maquinas y grupales?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse_gestionhorariosclases" class="collapse" aria-labelledby="heading_gestionhorariosclases" data-parent="#accordiontwo">
                            <div class="card-body">
                                <br />
                                <!--begin popup-gallery-->
                                <div class="popup-gallery">
                                    <iframe width="1200" height="498" src="https://www.youtube.com/embed/WIWRLg9b_-g?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
                                    </iframe>
                                </div>
                                <!--end popup-gallery-->
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="card faq_box type_one">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="faq_btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="fas fa-question-circle"></span>&nbsp;&nbsp;Visualizar ventas, gastos y utilidad de tu gimnasio
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordiontwo">
                            <div class="card-body">
                                <br />
                                <!--begin popup-gallery-->
                                <div class="popup-gallery">
                                    <iframe width="1200" height="498" src="https://www.youtube.com/embed/UyBOwwuZzoE?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
                                    </iframe>
                                </div>
                                <!--end popup-gallery-->
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="card faq_box type_one">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="faq_btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span class="fas fa-question-circle"></span>&nbsp;&nbsp;¿Cómo controlar sotck de productos y organizar el inventario?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordiontwo">
                            <div class="card-body">
                                <br />
                                <!--begin popup-gallery-->
                                <div class="popup-gallery">
                                    <iframe width="1200" height="498" src="https://www.youtube.com/embed/hf3GBfpKktM?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
                                    </iframe>
                                </div>
                                <!--end popup-gallery-->
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="card faq_box type_one">
                        <div class="card-header" id="heading_gestionprospectos">
                            <h5 class="mb-0">
                                <button class="faq_btn collapsed" data-toggle="collapse" data-target="#gestionprospectos" aria-expanded="false" aria-controls="gestionprospectos">
                                    <span class="fas fa-question-circle"></span>&nbsp;&nbsp;CRM APPSFIT ¿Cómo gestionar tus prospectos, clientes vencidos, por vencer y vendedores?
                                </button>
                            </h5>
                        </div>
                        <div id="gestionprospectos" class="collapse" aria-labelledby="heading_gestionprospectos" data-parent="#accordiontwo">
                            <div class="card-body">
                                <br />
                                <!--begin popup-gallery-->
                                <div class="popup-gallery">
                                    <iframe width="1200" height="498" src="https://www.youtube.com/embed/My_3Lc4pL10?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
                                    </iframe>
                                </div>
                                <!--end popup-gallery-->
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="card faq_box type_one">
                        <div class="card-header" id="heading_controlstaff">
                            <h5 class="mb-0">
                                <button class="faq_btn collapsed" data-toggle="collapse" data-target="#gestioncontrolstaff" aria-expanded="false" aria-controls="gestioncontrolstaff">
                                    <span class="fas fa-question-circle"></span>&nbsp;&nbsp;¿Cómo gestionar el ingreso y salida del staff?
                                </button>
                            </h5>
                        </div>
                        <div id="gestioncontrolstaff" class="collapse" aria-labelledby="heading_controlstaff" data-parent="#accordiontwo">
                            <div class="card-body">
                                <br />
                                <!--begin popup-gallery-->
                                <div class="popup-gallery">
                                    <iframe width="1200" height="498" src="https://www.youtube.com/embed/JtnnVVfKubA?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
                                    </iframe>
                                </div>
                                <!--end popup-gallery-->
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="card faq_box type_one">
                        <div class="card-header" id="heading_estadisticas">
                            <h5 class="mb-0">
                                <button class="faq_btn collapsed" data-toggle="collapse" data-target="#gestionestadisticas" aria-expanded="false" aria-controls="gestionestadisticas">
                                    <span class="fas fa-question-circle"></span>&nbsp;&nbsp;Reportes, estadísticas y kpi
                                </button>
                            </h5>
                        </div>
                        <div id="gestionestadisticas" class="collapse" aria-labelledby="heading_estadisticas" data-parent="#accordiontwo">
                            <div class="card-body">
                                <br />
                                <!--begin popup-gallery-->
                                <div class="popup-gallery">
                                    <iframe width="1200" height="498" src="https://www.youtube.com/embed/gKfciYWiuJc?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
                                    </iframe>
                                </div>
                                <!--end popup-gallery-->
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="card faq_box type_one">
                        <div class="card-header" id="heading_appcliente">
                            <h5 class="mb-0">
                                <button class="faq_btn collapsed" data-toggle="collapse" data-target="#gestione_sappcliente" aria-expanded="false" aria-controls="gestione_sappcliente">
                                    <span class="fas fa-question-circle"></span>&nbsp;&nbsp;App de reservas de clases - App para tus clientes
                                </button>
                            </h5>
                        </div>
                        <div id="gestione_sappcliente" class="collapse" aria-labelledby="heading_appcliente" data-parent="#accordiontwo">
                            <div class="card-body">
                                <br />
                                <!--begin popup-gallery-->
                                <div class="popup-gallery">
                                    <iframe width="1200" height="498" src="https://www.youtube.com/embed/lISzrRFalnE?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
                                    </iframe>
                                </div>
                                <!--end popup-gallery-->
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="card faq_box type_one" style="display:none;">
                        <div class="card-header" id="headingfour">
                            <h5 class="mb-0">
                                <button class="faq_btn collapsed" data-toggle="collapse" data-target="#faqstyleone" aria-expanded="true" aria-controls="faqstyleone">
                                    What is a novel coronavirus?  <span class="flaticon-question-2 faq_icon"></span>
                                </button>
                            </h5>
                        </div>
                        <div id="faqstyleone" class="collapse " aria-labelledby="headingfour" data-parent="#accordiontwo">
                            <div class="card-body">
                                A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing coronavirus disease 2019 (COVID-19), is not the same as the coronaviruses that commonly circulate among humans and cause mild illness, like the common
                                cold.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="explore_more" id="testimonios" style="background-color: #000000;">

    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row">

            <!--begin col-md-12 -->
            <div class="col-md-12 text-center">
                <div class="content_box text-center">
                    <h1> <br class="disp_none_md" /> <span>TESTIMONIOS</span> </h1>
                </div>

                <h3 style="color:#fff;font-size: 41px;font-weight:bold;" class="section-title">Más de 499 gimnasios gestionando con Appsfit</h3>
                <br />

            </div>
            <!--end col-md-12 -->

        </div>
        <!--end row -->

    </div>
    <!--end container -->
    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row">

            <!--begin col-md-4 -->
            <div class="col-6 col-lg-3 mt-2 mb-4 mb-lg-0 px-1 px-lg-2 col-md-4" style="text-align: center;">

                <div class="our-services">


                    <iframe width="800" height="250" src="https://www.youtube.com/embed/0J-D5KaAY4Q?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
                    </iframe>

                </div>

            </div>
            <!--end col-md-4 -->
            <!--begin col-md-4 -->
            <div class="col-6 col-lg-3 mt-2 mb-4 mb-lg-0 px-1 px-lg-2 col-md-4" style="text-align: center;">

                <div class="our-services">

                    <iframe width="800" height="250" src="https://www.youtube.com/embed/49BVcpM987k?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
                    </iframe>
                </div>

            </div>
            <!--end col-md-4 -->
            <!--begin col-md-4 -->
            <div class="col-6 col-lg-3 mt-2 mb-4 mb-lg-0 px-1 px-lg-2 col-md-4" style="text-align: center;">

                <div class="our-services">

                    <iframe width="800" height="250" src="https://www.youtube.com/embed/j8wvdEyfVDk?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
                    </iframe>

                </div>

            </div>
            <!--end col-md-4 -->
            <!--begin col-md-4 -->
            <div class="col-6 col-lg-3 mt-2 mb-4 mb-lg-0 px-1 px-lg-2 col-md-4" style="text-align: center;">

                <div class="our-services">

                    <iframe width="800" height="250" src="https://www.youtube.com/embed/yG4sPfth9I4?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
                    </iframe>
                </div>

            </div>
            <!--end col-md-4 -->
        </div>
        <!--end row -->
        <!--begin row -->
        <div class="row">

            <!--begin col-md-4 -->
            <div class="col-6 col-lg-3 mt-2 mb-4 mb-lg-0 px-1 px-lg-2 col-md-4" style="text-align: center;">

                <div class="our-services">


                    <iframe width="800" height="250" src="https://www.youtube.com/embed/5LhKSSG8SGA?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
                    </iframe>

                </div>

            </div>
            <!--end col-md-4 -->
            <!--end col-md-4 -->
        </div>
        <!--end row -->
        <!--begin row -->
        <div class="row">

            <!--begin col-md-12 -->
            <div class="col-md-12 text-center">
                <br /><br />
                <h3 style="color:#fff;font-size: 41px;font-weight:bold;" class="section-title">¡Estamos comprometidos con la industria fitness!</h3>
                <br /><br />

            </div>
            <!--end col-md-12 -->

        </div>
        <!--begin row -->
        <div class="row">

            <!--begin col-md-4 -->
            <div class="col-md-4" style="text-align: center;">

                <div class="our-services">

                    <img src="~/Content/appsfit_img/testtimoniowhatsapp1.png" />

                </div>

            </div>
            <!--end col-md-4 -->
            <!--begin col-md-4 -->
            <div class="col-md-4" style="text-align: center;">

                <div class="our-services">


                    <img src="~/Content/appsfit_img/testtimoniowhatsapp2.png" />

                </div>

            </div>
            <!--end col-md-4 -->
            <!--begin col-md-4 -->
            <div class="col-md-4" style="text-align: center;">

                <div class="our-services">


                    <img src="~/Content/appsfit_img/testtimoniowhatsapp3.png" />
                </div>

            </div>
            <!--end col-md-4 -->

        </div>

        <br /><br /><br />
        <div class="row">
            <div class="col-md-12 text-center">
                <button onclick="EnviarDatos();" class="" type="button" style="--tw-gradient-from: #128c7e; font-size: 28px; position: relative; color: #fff; --tw-gradient-from: #128c7e; --tw-gradient-stops: #25d366, #128c7e; background-image: linear-gradient(to bottom right,var(--tw-gradient-stops)); display: inline-block; width: 80%; height: 70px; line-height: 50px; font-weight: 500; transition: all .5s ease; text-align: center; font-family: 'Poppins', sans-serif; border-radius: 50px; background-size: 300% 100%; box-shadow: 0px; border: 0px !important; ">Solicitar promoción <span style="font-size: 35px;" class="fa fa-whatsapp"></span></button>
            </div>
        </div>
        
    </div>
    <!--end container -->

</section>

@section Scripts {

    @System.Web.Optimization.Scripts.Render("~/Scripts/bootstrap-notify-master/bootstrap-notify.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/bootstrap-notify-master/bootstrap-notify.min.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/jsBootstrap/jquery.bootstrap-growl.js")

    @System.Web.Optimization.Scripts.Render("~/Scripts/jquery.min.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/plugins/jquery-ui/jquery-ui.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")

    @System.Web.Optimization.Scripts.Render("~/Resource/UserControl.Helper.js")


    <script type="text/javascript">

        $(document).ready(function () {

            fbq('trackCustom', 'ViewVideoPresentsAppsfit');

            /* Enter here your End date in this format! */
            var endDate = "Feb 28, 2023 00:00:00";

            /* ***** Do not change this code below. ***** */
            var deadline = new Date(endDate).getTime();

            var x = setInterval(function () {
                var now = new Date().getTime();
                var t = deadline - now;
                var days = Math.floor(t / (1000 * 60 * 60 * 24));
                var hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((t % (1000 * 60)) / 1000);
                document.getElementById("day").innerHTML = days;
                document.getElementById("hour").innerHTML = hours;
                document.getElementById("minute").innerHTML = minutes;
                document.getElementById("second").innerHTML = seconds;

                /* Output the End date. (Only for Demo) */
                document.getElementById("deadline").innerHTML = endDate;

                if (t < 0) {
                    clearInterval(x);
                    document.getElementById("demo").innerHTML = "PROMOCIÓN TERMINADA";
                    document.getElementById("day").innerHTML = "0";
                    document.getElementById("hour").innerHTML = "0";
                    document.getElementById("minute").innerHTML = "0";
                    document.getElementById("second").innerHTML = "0";
                }
            }, 1000);

        });

        function eventContactoFacebook() {
            fbq('track', 'Lead');
            //fbq('trackCustom', 'CustomContactAppsfit');
        }

        function EnviarDatos() {

            var Link = "https://api.whatsapp.com/send?phone=51957592357&text=👍%20Hola%20Appsfit,%20quiero%20mi%20promoción";

            eventContactoFacebook();

            window.open(Link, '_self');
        }


    </script>

}