
@{
    ViewBag.Title = "VIDEOTECA";
    Layout = "~/Views/Shared/_LayoutAppfitVideoteca.cshtml";
}


<header style="background-color:#000;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <a href="index.html" id="logo">                    
                    <img src="~/Content/appInicio/images/logogymdigital.png" width="95" height="27" alt="" data-retina="true" class="logo_normal">
                </a>
            </div>
            <nav class="col-xs-9">
                <ul id="access_top">
                    <li>
                        <a href="@Url.Action("login","pg",new {id= HttpContext.Current.Request.Cookies["_SubDominio_PersonaFit"].Value})" style="color: white;background-color: #f23849;font-size: 20px;border-radius: 0px;" class="hidden-xs">
                            <div class="icon icon-man-people-streamline-user">Iniciar sesión</div>
                        </a>
                    </li>
                </ul>
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                <div class="main-menu">
                    <div id="header_menu">
                        <img src="~/Content/videoteca/img/logo.png" width="95" height="27" alt="Lovefit" data-retina="true">
                    </div>
                    <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
                    <ul>
                        <li>
                            <a href="@Url.Action("inicio","pg",new {id= HttpContext.Current.Request.Cookies["_SubDominio_PersonaFit"].Value})">INICIO</a>
                        </li>
                        <li>
                            <a href="@Url.Action("entrenaonline","pg",new {id= HttpContext.Current.Request.Cookies["_SubDominio_PersonaFit"].Value})">ENTRENA ONLINE</a>
                        </li>
                        <li>
                            <a href="@Url.Action("videoteca","pg",new {id= HttpContext.Current.Request.Cookies["_SubDominio_PersonaFit"].Value})">GIMNASIO TV</a>
                        </li>
                        <li>
                            <a href="@Url.Action("tienda","pg",new {id= HttpContext.Current.Request.Cookies["_SubDominio_PersonaFit"].Value})">TIENDA</a>
                        </li>
                    </ul>
                </div>
                <!-- End main-menu -->
            </nav>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</header>



<div class="container_styled_1">
    <div class="container margin_60_35">
        <h2 class="main_title" style="color:red;"><em></em>ÚLTIMOS VIDEOS DE ENTRENAMIENTO<span>Enamórate del Fitness</span></h2>
        <div id="filter_buttons">
            <button data-toggle="portfilter" class="active" data-target="all">Todas</button>
            <button data-toggle="portfilter" data-target="Yoga">Yoga</button>
            <button data-toggle="portfilter" data-target="Strength">Fuerza</button>
            <button data-toggle="portfilter" data-target="Cardio">Cardio</button>
            <button data-toggle="portfilter" data-target="Pilates">Pilates</button>
        </div>
        <div class="row">
            <div class="col-md-4" data-tag="Yoga">
                <div class="course_container">
                    <div class="ribbon top">
                        <span>Nuevo</span>
                    </div>
                    <figure>
                        <a href="fitness-course-1.html">
                            <img src="~/Content/videoteca/img/gallery/disciplina1.jpg" width="800" height="533" class="img-responsive" alt="Image">
                            <div class="short_info"><i class="icon-clock-1"></i>1 hr 15 min</div>
                        </a>
                    </figure>
                    <div class="course_title">
                        <div class="type">
                            <span>Yoga</span>
                        </div>
                        <h3><a style="color:red;" href="fitness-course-1.html">Fundamentos Yoga</a></h3>
                        <div class="info_2 clearfix">
                            <span class="users">590</span>
                        </div>
                    </div>
                </div>
                <!-- End box course_container -->
            </div>
            <div class="col-md-4" data-tag="Yoga">
                <div class="course_container">
                    <div class="ribbon top">
                        <span>Nuevo</span>
                    </div>
                    <figure>
                        <a href="fitness-course-1.html">
                            <img src="~/Content/videoteca/img/gallery/disciplina2.jpg" width="800" height="533" class="img-responsive" alt="Image">
                            <div class="short_info"><i class="icon-clock-1"></i>1 hr 10 min</div>
                        </a>
                    </figure>
                    <div class="course_title">
                        <div class="type">
                            <span>FUERZA</span>
                        </div>
                        <h3><a style="color:red;" href="fitness-course-1.html">FUERZA</a></h3>
                        <div class="info_2 clearfix">
                            <span class="users">689</span>
                        </div>
                    </div>
                </div>
                <!-- End box course_container -->
            </div>
            <div class="col-md-4" data-tag="Yoga">
                <div class="course_container">
                    <div class="ribbon top">
                        <span>Nuevo</span>
                    </div>
                    <figure>
                        <a href="fitness-course-1.html">
                            <img src="~/Content/videoteca/img/gallery/disciplina3.jpg" width="800" height="533" class="img-responsive" alt="Image">
                            <div class="short_info"><i class="icon-clock-1"></i>1 hr 05 min</div>
                        </a>
                    </figure>
                    <div class="course_title">
                        <div class="type">
                            <span>CARDIO</span>
                        </div>
                        <h3><a style="color:red;" href="fitness-course-1.html">CARDIO</a></h3>
                        <div class="info_2 clearfix">
                            <span class="users">780</span>
                        </div>
                    </div>
                </div>
                <!-- End box course_container -->
            </div>
            <div class="col-md-4" data-tag="Strength">
                <div class="course_container">

                    <figure>
                        <a href="fitness-course-1.html">
                            <img src="~/Content/videoteca/img/gallery/disciplina4.jpg" width="800" height="533" class="img-responsive" alt="Image">
                            <div class="short_info"><i class="icon-clock-1"></i>1 hr 10 min</div>
                        </a>
                    </figure>
                    <div class="course_title">
                        <div class="type">
                            <span>SPINNING</span>
                        </div>
                        <h3><a style="color:red;" href="fitness-course-1.html">SPINNING</a></h3>
                        <div class="info_2 clearfix">
                            <span class="users">450</span>
                        </div>
                    </div>
                </div>
                <!-- End box course_container -->
            </div>
            <div class="col-md-4" data-tag="Strength">
                <div class="course_container">

                    <figure>
                        <a href="#0">
                            <img src="~/Content/videoteca/img/gallery/disciplina5.jpg" width="800" height="533" class="img-responsive" alt="Image">
                            <div class="short_info"><i class="icon-clock-1"></i>1 hr 10 min</div>
                        </a>
                    </figure>
                    <div class="course_title">
                        <div class="type">
                            <span>FUNCIONAL</span>
                        </div>
                        <h3><a style="color:red;" href="#0">FUNCIONAL</a></h3>
                        <div class="info_2 clearfix">
                            <span class="users">745</span>
                        </div>
                    </div>
                </div>
                <!-- End box course_container -->
            </div>
            <div class="col-md-4" data-tag="Cardio">
                <div class="course_container">

                    <figure>
                        <a href="fitness-course-1.html">
                            <img src="~/Content/videoteca/img/gallery/disciplina6.jpg" width="800" height="533" class="img-responsive" alt="Image">
                            <div class="short_info"><i class="icon-clock-1"></i>1 hr 15 min</div>
                        </a>
                    </figure>
                    <div class="course_title">
                        <div class="type">
                            <span>BOX</span>
                        </div>
                        <h3><a style="color:red;" href="fitness-course-1.html">BOX</a></h3>
                        <div class="info_2 clearfix">
                            <span class="users">687</span>
                        </div>
                    </div>
                </div>
                <!-- End box course_container -->
            </div>
            <div class="col-md-4" data-tag="Cardio">
                <div class="course_container">
                    <figure>
                        <a href="fitness-course-1.html">
                            <img src="~/Content/videoteca/img/gallery/disciplina7.jpg" width="800" height="533" class="img-responsive" alt="Image">
                            <div class="short_info"><i class="icon-clock-1"></i>1 hr 10 min</div>
                        </a>
                    </figure>
                    <div class="course_title">
                        <div class="type">
                            <span>FULL BODY</span>
                        </div>
                        <h3><a style="color:red;" href="fitness-course-1.html">FULL BODY</a></h3>
                        <div class="info_2 clearfix">
                            <span class="users">890</span>
                        </div>
                    </div>
                </div>
                <!-- End box course_container -->
            </div>
            <div class="col-md-4" data-tag="Pilates">
                <div class="course_container">
                    <figure>
                        <a href="fitness-course-1.html">
                            <img src="~/Content/videoteca/img/gallery/disciplina9.jpg" width="800" height="533" class="img-responsive" alt="Image">
                            <div class="short_info"><i class="icon-clock-1"></i>1 hr 00 min</div>
                        </a>
                    </figure>
                    <div class="course_title">
                        <div class="type">
                            <span>CALENTAMIENTO</span>
                        </div>
                        <h3><a style="color:red;" href="fitness-course-1.html">CALENTAMIENTO</a></h3>
                        <div class="info_2 clearfix">
                            <span class="users">856</span>
                        </div>
                    </div>
                </div>
                <!-- End box course_container -->
            </div>
            <div class="col-md-4">
                <a href="explore-1.html" id="view_all"><span><i class="arrow_carrot-right_alt2"></i>Ver todos los videos</span></a>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</div>
<!-- End container_styled_1 -->

<section class="margin_60_35" id="testimonials" style="background-color:#000;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Disponible en todos los dispositivos</h3>
                <p class="lead">Entrena desde cualquier parte del mundo</p>
                <p>
                <p></p>
                <div id="compatib">
                    Compatible with Android/IOS
                </div>
            </div>
            <div class="col-md-6">
                <img src="~/Content/videoteca/img/devices.png" width="600" height="355" alt="" class="img-responsive">
            </div>
        </div>
        <!--  End row -->
    </div>
    <!--  End container-->
</section>
<!--  End section-->

@section Scripts {

    <!-- SPECIFIC SCRIPTS -->
    @System.Web.Optimization.Scripts.Render("~/Content/videoteca/js/bootstrap-portfilter.min.js")
    @System.Web.Optimization.Scripts.Render("~/Content/videoteca/js/video_header.js")


    <script type="text/javascript">

        HeaderVideo.init({
            container: $('.header-video'),
            header: $('.header-video--media'),
            videoTrigger: $("#video-trigger"),
            autoPlayVideo: true
        });

    </script>

}
