@model BotComers.ViewModels.Inventario.ItemsVentaViewModel

@{
    ViewBag.Title = "edit";
    Layout = "~/Views/Shared/__LayoutAppFitPlataformaFit.cshtml";
}

<style>


    /** SPINNER CREATION **/
    .loader {
        position: relative;
        text-align: center;
        margin: 15px auto 35px auto;
        z-index: 9999;
        display: block;
        width: 80px;
        height: 80px;
        border: 10px solid rgba(0, 0, 0, .3);
        border-radius: 50%;
        border-top-color: #000;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
    }
</style>

<div class="page__header page__header-nav mb-0">
    <div class="container-fluid page__container">
        <div class="navbar navbar-secondary navbar-light navbar-expand-sm p-0 d-none d-md-flex" id="secondaryNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <button style="color: #ffffff;background-color: #ff0200;font-size: 1.0rem;border: 0px #ff0200 solid;height: 33px;padding: 5px;cursor:pointer;" class="navbar-toggler navbar-toggler-custom d-flex mr-navbar" type="button" data-toggle="sidebar">
                        Operaciones
                    </button>
                </li>
                <li class="nav-item" data-controlmodulo="45833cdd-55db-4a67-a879-f1ae9353f8bf">
                    <a href="@Url.Action("checking","gestionce",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})" class="nav-link">Clientes</a>
                </li>
                <li class="nav-item" data-controlmodulo="9e69cfd8-b063-44df-a7f2-a3a10d1eb899" style="display:none;">
                    <a class="nav-link " href="@Url.Action("posfitness","pos",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">Punto de venta</a>
                </li>
                <li class="nav-item" data-controlmodulo="7611dfbe-186f-4abe-8e2e-e64ad7281728" style="display:none;">
                    <a class="nav-link" href="@Url.Action("caja","gestionce",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">Caja</a>
                </li>
                <li class="nav-item" data-controlmodulo="93c0d848-83aa-45eb-a83a-ded00a6b6e23" style="display:none;">
                    <a class="nav-link" href="@Url.Action("nutricion","gestionce",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">Medidas y Nutrición</a>
                </li>
                <li class="nav-item" data-controlmodulo="947dc11f-3e14-4fe7-bedc-ae3d81219bee" style="display:none;">
                    <a class="nav-link" href="@Url.Action("Index","inventariofit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">Inventario</a>
                </li>

                <li class="nav-item" data-controlmodulo="39497bd3-94ab-4236-a1d4-4623d854f91e" style="display:none;">
                    <a href="@Url.Action("agendacomercial","gestionce",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})" class="nav-link">Agenda Comercial</a>
                </li>
                <li class="nav-item" data-controlmodulo="bbc035e6-68ea-4885-917f-005ad3fcfb66" style="display:none;">
                    <a href="@Url.Action("metascomerciales","gestionce",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})" class="nav-link">Metas</a>
                </li>
                <li class="nav-item" data-controlmodulo="e1eadd0d-39b3-498d-b09b-9b3b28610b9b" style="display:none;">
                    <a href="@Url.Action("informesfit","gestionce",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})" class="nav-link">Informes</a>
                </li>
                <li class="nav-item" data-controlmodulo="600dabf4-7dc3-4dc0-a0ba-74b782955e52" style="display:none;">
                    <a class="nav-link" href="@Url.Action("pagospersonal","gestionce",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">Pagos</a>
                </li>
                <li class="nav-item" data-controlmodulo="b1f65597-fd27-46ca-90d0-a0f2f1039ef7" style="display:none;">
                    <a class="nav-link" href="@Url.Action("finanzas","gestionce",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">Finanzas</a>
                </li>
                <li class="nav-item" data-controlmodulo="4c01e8de-9440-4927-a2f2-d6241d925c39" style="display:none;">
                    <a class="nav-link" href="@Url.Action("estadisticas","gestionce",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})">Estadísticas</a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="slim-mainpanel" style="background-color: #e9ebee;">
    <br />
    <div class="container">
        <div class="section-wrapper">
            <div class="form-layout">
                <input type="hidden" value="@Model.CodigoItemVenta" id="hdCodigoItemVenta" />
                <input type="hidden" value="@Model.CodigoImagen" id="hdCodigoImagen" />
                <input type="hidden" value="E" id="hdAccionItemVenta" />
                <div style="display:none;" class="alert alert-solid alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <strong>Excelente!</strong> Registro Guardado Correctamente.
                </div>
                <div class="row mg-b-25">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="txtItemsventa_Nombre" class="form-control-label">Nombre: <span class="tx-danger" id="txtItemsventa_Nombre_validation" style="display:none;">* Ingrese nombre</span></label>
                            <input id="txtItemsventa_Nombre" class="form-control form-control-sm" type="text" name="" value="@Model.Nombre" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="txtItemsventa_PrecioVenta" class="form-control-label">Precio venta : <span class="tx-danger" id="txtItemsventa_PrecioVenta_validation" style="display:none;">* Ingrese precio venta</span></label>
                            <input id="txtItemsventa_PrecioVenta" class="form-control form-control-sm" type="text" name="" value="@Model.PrecioVenta" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="txtItemsventa_TipoImpuesto" class="form-control-label">Impuesto: </label>
                            <select id="txtItemsventa_TipoImpuesto" class="form-control form-control-sm" data-placeholder="" disabled>
                                <option value="1" @(Model.CodigoTipoImpuesto == 1 ? "Selected" : string.Empty)>Ninguno-(0%)</option>
                                <option value="2" @(Model.CodigoTipoImpuesto == 2 ? "Selected" : string.Empty)>IGV-(18%)</option>
                                <option value="3" @(Model.CodigoTipoImpuesto == 3 ? "Selected" : string.Empty)>Exonerado-(0%)</option>
                            </select>
                        </div>
                        <div class="form-group" id="div_txtItemsventa_TipoUnidadMedida" style="display: @(Model.lista_ItemsVentaInventarioDTO.Count > 0 ? "none" : "block") ">
                            <label for="txtItemsventa_TipoUnidadMedida" class="form-control-label">Unidad de medida: </label>
                            <select id="txtItemsventa_TipoUnidadMedida" class="form-control form-control-sm show-tick selectpicker" data-style="btn-primary" disabled>
                                <optgroup label="Unidad">
                                    <option value="1" @(Model.CodigoUnidadMedida == 1 ? "Selected" : string.Empty)>Unidad</option>
                                    <option value="2" @(Model.CodigoUnidadMedida == 2 ? "Selected" : string.Empty)>Servicio</option>
                                    <option value="3" @(Model.CodigoUnidadMedida == 3 ? "Selected" : string.Empty)>Pieza</option>
                                    <option value="4" @(Model.CodigoUnidadMedida == 4 ? "Selected" : string.Empty)>Millar</option>
                                    <option value="5" @(Model.CodigoUnidadMedida == 5 ? "Selected" : string.Empty)>Kit</option>
                                </optgroup>
                                <optgroup label="Longitud">
                                    <option value="6" @(Model.CodigoUnidadMedida == 6 ? "Selected" : string.Empty)>Centímetro (cm)</option>
                                    <option value="7" @(Model.CodigoUnidadMedida == 7 ? "Selected" : string.Empty)>Metro (m)</option>
                                    <option value="8" @(Model.CodigoUnidadMedida == 8 ? "Selected" : string.Empty)>Pulgada</option>
                                </optgroup>
                                <optgroup label="Área">
                                    <option value="9" @(Model.CodigoUnidadMedida == 9 ? "Selected" : string.Empty)>Centímetro cuadrado (cm2)</option>
                                    <option value="10" @(Model.CodigoUnidadMedida == 10 ? "Selected" : string.Empty)>Metro cuadrado (m2)</option>
                                    <option value="11" @(Model.CodigoUnidadMedida == 11 ? "Selected" : string.Empty)>Pulgada cuadrada</option>
                                </optgroup>
                                <optgroup label="Volumen">
                                    <option value="12" @(Model.CodigoUnidadMedida == 12 ? "Selected" : string.Empty)>Milimetro (mL)</option>
                                    <option value="13" @(Model.CodigoUnidadMedida == 13 ? "Selected" : string.Empty)>Litro (L)</option>
                                    <option value="14" @(Model.CodigoUnidadMedida == 14 ? "Selected" : string.Empty)>Galón</option>
                                </optgroup>
                                <optgroup label="Peso">
                                    <option value="15" @(Model.CodigoUnidadMedida == 15 ? "Selected" : string.Empty)>Gramo (g)</option>
                                    <option value="16" @(Model.CodigoUnidadMedida == 16 ? "Selected" : string.Empty)>Kilogramo (Kg)</option>
                                    <option value="17" @(Model.CodigoUnidadMedida == 17 ? "Selected" : string.Empty)>Tonelada</option>
                                    <option value="18" @(Model.CodigoUnidadMedida == 18 ? "Selected" : string.Empty)>Libra</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-9">
                                    <label class="ckbox" id="lbl_ckboxVisualizarTiendaVirtual">
                                        @if (Model.VisualizarTiendaVirtual == 1)
                                        {
                                            <input id="txtItemsventa_ckboxVisualizarTiendaVirtual" type="checkbox" checked><span>Visualizar en tienda virtual</span>
                                        }
                                        else
                                        {
                                            <input id="txtItemsventa_ckboxVisualizarTiendaVirtual" type="checkbox"><span>Visualizar en tienda virtual</span>
                                        }
                                    </label>
                                </div><!-- col-3 -->
                            </div><!-- row -->
                        </div>
                        <div class="form-group">
                            <label for="" class="form-control-label">Tipo de ítem: </label>
                            <div class="row ">
                                <div class="col-lg-6">
                                    <label class="rdiobox">
                                        <input name="txtItemsventa_rdioTipoItem" disabled type="radio" value="1" onchange="change_txtItemsventa_rdioTipoItem('1')" @(Model.CodigoTipoItem == 1 ? "checked" : string.Empty)>
                                        <span>Simple</span>
                                    </label>
                                </div><!-- col-3 -->
                                <div class="col-lg-6">
                                    <label class="rdiobox" style="display:none;">
                                        <input name="txtItemsventa_rdioTipoItem" disabled type="radio" value="2" onchange="change_txtItemsventa_rdioTipoItem('2')" @(Model.CodigoTipoItem == 2 ? "checked" : string.Empty)>
                                        <span>kit</span>
                                    </label>
                                </div><!-- col-3 -->
                            </div><!-- row -->
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-9">
                                    <label class="ckbox" id="lbl_ckboxInventariable">
                                        @if (Model.ItemInventariable == 1)
                                        {
                                            <input id="txtItemsventa_ckboxInventariable" type="checkbox" disabled checked onclick="click_ckboxInventariable()"><span>Ítem inventariable</span>
                                        }
                                        else
                                        {
                                            <input id="txtItemsventa_ckboxInventariable" type="checkbox" disabled onclick="click_ckboxInventariable()"><span>Ítem inventariable</span>
                                        }

                                    </label>
                                </div><!-- col-3 -->
                            </div><!-- row -->
                        </div>
                        <div class="form-group" id="div_txtItemsventa_Almacen" style="display:none;">
                            <label for="Itemsventa_ddlAlmacenes" class="form-control-label">Almacén: </label>
                            <select id="Itemsventa_ddlAlmacenes" class="form-control form-control-sm" data-placeholder="">
                                @foreach (var fila in Model.ListAlmacenes)
                                {
                                    if (Model.CodigoAlmacen == Convert.ToInt32(fila.Value))
                                    {
                                        <option value="@fila.Value" selected>@fila.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@fila.Value">@fila.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="txtItemsventa_Descripcion" class="form-control-label">Descripción: </label>
                            <textarea id="txtItemsventa_Descripcion" rows="2" class="form-control" placeholder="">@Model.Descripcion</textarea>
                        </div>
                        <div class="form-group">
                            <label for="txtItemsventa_Referencia" class="form-control-label">Referencia: </label>
                            <input id="txtItemsventa_Referencia" class="form-control form-control-sm" type="text" name="" value="@Model.Referencia" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="txtItemsventa_CodigoCategoria" class="form-control-label">Categoría: </label>
                            <select id="txtItemsventa_CodigoCategoria" class="form-control form-control-sm" data-placeholder="">
                                @foreach (var fila in Model.ListCategoriasDTO)
                                {

                                    if (fila.CodigoMenuSuperior == 0)
                                    {
                                        <optgroup label="@fila.Descripcion">

                                            @foreach (var Subfila in Model.ListCategoriasDTO)
                                            {
                                                if (fila.CodigoMenu == Subfila.CodigoMenuSuperior)
                                                {
                                                    if (Model.CodigoCategoriaItem == @Subfila.CodigoMenu)
                                                    {
                                                        <option value="@Subfila.CodigoMenu" selected>@Subfila.Descripcion</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@Subfila.CodigoMenu">@Subfila.Descripcion</option>
                                                    }

                                                }
                                            }

                                        </optgroup>
                                    }

                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="txtItemsventa_CodigoProductoSUNAT" class="form-control-label">Código Producto SUNAT: </label>
                            <input id="txtItemsventa_CodigoProductoSUNAT" class="form-control form-control-sm" type="text" name="" value="@Model.CodigoProductoSUNAT" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="txtItemsventa_CodigoCuentaContable" class="form-control-label">Cuenta Contable: </label>
                            <select id="txtItemsventa_CodigoCuentaContable" class="form-control form-control-sm" data-placeholder="">
                                <option value="1" disabled>Ingresos de actividades extraordinarias</option>
                                <option selected value="2" disabled>Ventas</option>
                                <option value="3" disabled>Devoluciones de ventas</option>
                                <option value="4" disabled>Otros ingresos</option>
                                <option value="5" disabled>Ingresos financieros</option>
                                <option value="6" disabled>Otros ingresos diversos</option>
                            </select>
                        </div>

                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <img id="imgVistaImagen" src="@Model.UrlImagen" class="img-fluid img-thumbnail" alt="">
                        </div>
                        <div class="form-group">
                            <div class="custom-file">
                                medida maxima obligatoria: 400x400
                                <input type="file" class="custom-file-input input-sm" style="width:100%;" id="buscarImagen">
                                <label class="custom-file-label" for="buscarImagen">Buscar imagen</label>
                            </div><!-- custom-file -->
                        </div>
                        <div class="form-group mg-t-2">
                            <div class="input-group input-group-sm input-group-merge">
                                <input id="txtDetalle" type="text" class="form-control form-control-prepended" placeholder="" style="width:100%;font-weight:bold;" disabled>
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        Detalle foto:
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="hdheight_imagen" value="0" />
                            <input type="hidden" id="hdwidth_imagen" value="0" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-sm" onclick="javascript:ActualizarFoto();">Actualizar foto</button>
                        </div>
                    </div><!-- col-4 -->
                </div><!-- row -->

                <div id="divDetalleInventario" style="display: @(Model.lista_ItemsVentaInventarioDTO.Count > 0 ? "block" : "none") " class="">
                    <div class="card-header">
                        <h6 class="slim-card-title">DETALLE DEL INVENTARIO INICIAL</h6>
                    </div><!-- card-header -->
                    <div class="table-responsive">
                        <table id="gridDetalleInventario" class="table mg-b-0 tx-13">
                            <thead>
                                <tr class="tx-10">
                                    <th class="pd-y-3">
                                        Unidad de medida
                                    </th>
                                    <th class="pd-y-3">
                                        Costo unidad
                                    </th>
                                    <th class="pd-y-3">

                                    </th>
                                    <th class="pd-y-3">
                                        Almacén
                                    </th>
                                    <th class="pd-y-3">
                                        Cantidad inicial
                                    </th>
                                    <th class="pd-y-3">
                                        Cantidad mínima
                                    </th>
                                    <th class="pd-y-3">
                                        Cantidad máxima
                                    </th>
                                    <th class="pd-y-3">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    int rowfila = 1;
                                    foreach (var item in Model.lista_ItemsVentaInventarioDTO)
                                    {

                                        if (rowfila == 1)
                                        {
                                            <tr id="rowdi_@rowfila">
                                                <td>
                                                    <select disabled id="rowdi_ddlUnidadMedida_@rowfila" class="form-control form-control-sm show-tick selectpicker" data-style="btn-primary">
                                                        <optgroup label="Unidad">
                                                            <option value="1" @(Model.CodigoUnidadMedida == 1 ? "Selected" : string.Empty)>Unidad</option>

                                                            <option value="2" @(Model.CodigoUnidadMedida == 2 ? "Selected" : string.Empty)>Servicio</option>

                                                            <option value="3" @(Model.CodigoUnidadMedida == 3 ? "Selected" : string.Empty)>Pieza</option>

                                                            <option value="4" @(Model.CodigoUnidadMedida == 4 ? "Selected" : string.Empty)>Millar</option>

                                                            <option value="5" @(Model.CodigoUnidadMedida == 5 ? "Selected" : string.Empty)>Kit</option>

                                                        </optgroup>

                                                        <optgroup label="Longitud">

                                                            <option value="6" @(Model.CodigoUnidadMedida == 6 ? "Selected" : string.Empty)>Centímetro (cm)</option>

                                                            <option value="7" @(Model.CodigoUnidadMedida == 7 ? "Selected" : string.Empty)>Metro (m)</option>

                                                            <option value="8" @(Model.CodigoUnidadMedida == 8 ? "Selected" : string.Empty)>Pulgada</option>

                                                        </optgroup>

                                                        <optgroup label="Área">

                                                            <option value="9" @(Model.CodigoUnidadMedida == 9 ? "Selected" : string.Empty)>Centímetro cuadrado (cm2)</option>

                                                            <option value="10" @(Model.CodigoUnidadMedida == 10 ? "Selected" : string.Empty)>Metro cuadrado (m2)</option>

                                                            <option value="11" @(Model.CodigoUnidadMedida == 11 ? "Selected" : string.Empty)>Pulgada cuadrada</option>

                                                        </optgroup>

                                                        <optgroup label="Volumen">

                                                            <option value="12" @(Model.CodigoUnidadMedida == 12 ? "Selected" : string.Empty)>Milimetro (mL)</option>

                                                            <option value="13" @(Model.CodigoUnidadMedida == 13 ? "Selected" : string.Empty)>Litro (L)</option>

                                                            <option value="14" @(Model.CodigoUnidadMedida == 14 ? "Selected" : string.Empty)>Galón</option>

                                                        </optgroup>

                                                        <optgroup label="Peso">

                                                            <option value="15" @(Model.CodigoUnidadMedida == 15 ? "Selected" : string.Empty)>Gramo (g)</option>

                                                            <option value="16" @(Model.CodigoUnidadMedida == 16 ? "Selected" : string.Empty)>Kilogramo (Kg)</option>

                                                            <option value="17" @(Model.CodigoUnidadMedida == 17 ? "Selected" : string.Empty)>Tonelada</option>

                                                            <option value="18" @(Model.CodigoUnidadMedida == 18 ? "Selected" : string.Empty)>Libra</option>

                                                        </optgroup>

                                                    </select>
                                                </td>
                                                <td>
                                                    <input disabled id="rowdi_txtCostoUnidad_@rowfila" class="form-control form-control-sm" type="text" name="" value="@item.CostoUnidad">
                                                </td>
                                                <td>
                                                    <input disabled id="rowdi_hdCodigoItemsVentaInventario_@rowfila" class="form-control form-control-sm" type="hidden" name="" value="@item.CodigoItemsVentaInventario">
                                                </td>
                                                <td>
                                                    <input id="rowdi_ddlAlmacenes_@rowfila" class="form-control form-control-sm" type="text" name="" value="@item.DesAlmacen" disabled>
                                                </td>
                                                <td>
                                                    <input disabled id="rowdi_txtCantidadInicial_@rowfila" class="form-control form-control-sm" type="text" name="" value="@item.CantidadInicial">
                                                </td>
                                                <td>
                                                    <input disabled id="rowdi_txtCantidadMinima_@rowfila" class="form-control form-control-sm" type="text" name="" value="@item.CantidadMinima">
                                                </td>
                                                <td>
                                                    <input disabled id="rowdi_txtCantidadMaxima_@rowfila" class="form-control form-control-sm" type="text" name="" value="@item.CantidadMaxima">
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr id="rowdi_@rowfila">
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <input id="rowdi_hdCodigoItemsVentaInventario_@rowfila" class="form-control form-control-sm" type="hidden" value="@item.CodigoItemsVentaInventario">
                                                </td>
                                                <td>
                                                    <input id="rowdi_ddlAlmacenes_@rowfila" class="form-control form-control-sm" type="text" value="@item.DesAlmacen" disabled>
                                                </td>
                                                <td>
                                                    <input id="rowdi_txtCantidadInicial_@rowfila" class="form-control form-control-sm" type="text" value="@item.CantidadInicial">
                                                </td>
                                                <td>
                                                    <input id="rowdi_txtCantidadMinima_@rowfila" class="form-control form-control-sm" type="text" value="@item.CantidadMinima">
                                                </td>
                                                <td>
                                                    <input id="rowdi_txtCantidadMaxima_@rowfila" class="form-control form-control-sm" type="text" value="@item.CantidadMaxima">
                                                </td>
                                            </tr>
                                        }
                                        rowfila++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                    <div style="display:none;" class="card-footer tx-12 pd-y-15 bg-transparent" onclick='jacascript:Agregar_NuevaBodega_Edit();'>
                        <i class="icon ion-plus-circled tx-18"></i>Agregar en otra bodega
                    </div><!-- card-footer -->
                </div><!-- card -->

                <div id="divItemsIncluidos" style="display:none;" class="">
                    <div class="card-header">
                        <h6 class="slim-card-title">ITEMS INCLUIDOS</h6>
                    </div><!-- card-header -->
                    <div class="table-responsive">
                        <table id="" class="table mg-b-0 tx-13">
                            <thead>
                                <tr class="tx-10">
                                    <th class="pd-y-3">
                                        Items
                                    </th>
                                    <th class="pd-y-3">
                                        Referencia
                                    </th>
                                    <th class="pd-y-3">
                                        Descripción
                                    </th>
                                    <th class="pd-y-3">
                                        Cantidad
                                    </th>
                                    <th class="pd-y-3">
                                        Unidad
                                    </th>
                                    <th class="pd-y-3">
                                        Costo
                                    </th>
                                    <th class="pd-y-3">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select id="" class="form-control form-control-sm" data-placeholder="">
                                            <option value="1">Busca ítem facturable..</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input class="form-control form-control-sm" placeholder="Referencia" type="text" value="">
                                    </td>
                                    <td>
                                        <input class="form-control form-control-sm" placeholder="Descripción" type="text" value="">
                                    </td>
                                    <td>
                                        <input class="form-control form-control-sm" placeholder="Cantidad" type="number">
                                    </td>
                                    <td></td>
                                    <td>
                                        $0.00
                                    </td>
                                    <td></td>

                                </tr>
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                    <div class="card-footer tx-12 pd-y-15 bg-transparent">
                        <a href=""><i class="icon ion-plus-circled tx-18"></i>Agregar ítem</a>
                    </div><!-- card-footer -->
                </div><!-- card -->

                <div class="form-layout-footer">
                    <button data-controlmodulo="a4af1970-6029-413d-81fb-721c57d38823" style="display:none;" class="btn btn-primary bd-0" onclick="javascript:ActualizarItemsVenta();">Actualizar producto</button>
                    <a href="@Url.Action("index","itemsventafit",new {id= HttpContext.Current.Request.Cookies["_SubDominio_Business"].Value})"><button class="btn btn-secondary bd-0">Regresar</button></a>
                </div><!-- form-layout-footer -->
                <br /><br />
            </div><!-- form-layout -->
        </div><!-- section-wrapper -->

    </div><!-- container -->

</div><!-- slim-mainpanel -->

<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader"></div>
                <div clas="loader-txt">
                    <p>Cargando... <br><br><small>Espere por favor, este proceso puede tardar unos minutos</small></p>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    @System.Web.Optimization.Scripts.Render("~/Scripts/jquery.min.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/plugins/jsKendo/angular.min.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/plugins/jsKendo/kendo.all.min.js")

    @System.Web.Optimization.Scripts.Render("~/Scripts/plugins/jquery-ui/jquery-ui.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")

    @System.Web.Optimization.Scripts.Render("~/Scripts/bootstrap-notify-master/bootstrap-notify.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/bootstrap-notify-master/bootstrap-notify.min.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/jsBootstrap/jquery.bootstrap-growl.js")
    @System.Web.Optimization.Scripts.Render("~/Resource/UserControl.Helper.js")
    @System.Web.Optimization.Scripts.Render("~/Resource/InventarioEdit.js?tttfsdx")

    <script type="text/javascript">
        $(document).ready(function () {

            SEGListarPerfilMenu();
            $('#buscarImagen').change(function () {
                var File = this.files;
                if (File && File[0]) {
                    ReadImage(File[0]);
                }
            });
        });

        var ReadImage = function (file) {

            var reader = new FileReader;
            var image = new Image;

            reader.readAsDataURL(file);
            reader.onload = function (_file) {

                image.src = _file.target.result;
                image.onload = function () {
                    var height = this.height;
                    var width = this.width;
                    var type = file.type;
                    var size = ~~(file.size / 1024) + "KB";

                    $("#imgVistaImagen").attr('src', _file.target.result);
                    $("#txtDetalle").val("Size:" + size + ", " + height + " X " + width + ", " + type + "");
                    $("#hdheight_imagen").val(height);
                    $("#hdwidth_imagen").val(width);
                    if (parseInt(height) > 450) {
                        $.bootstrapGrowl("El alto de la imagen no puede ser mayor 450, seleccione otra imagen.", { type: 'danger', width: 'auto' });
                    } else if (parseInt(width) > 450) {
                        $.bootstrapGrowl("El ancho de la imagen no puede ser mayor 450, seleccione otra imagen.", { type: 'danger', width: 'auto' });
                    }
                }

            }
        }

        var ActualizarFoto = function () {

            var NombreProducto = $("#txtItemsventa_Nombre").val();
            var CodigoItemVenta = $("#hdCodigoItemVenta").val();
            var CodigoImagen = $("#hdCodigoImagen").val();
            var file = $("#buscarImagen").get(0).files;

            var detalle = $("#txtDetalle").val();
            var height = $("#hdheight_imagen").val();
            var width = $("#hdwidth_imagen").val();

            if (CodigoItemVenta == '') {
                $.bootstrapGrowl("Falta el codigo del producto.", { type: 'danger', width: 'auto' });
                return false;
            } else if (CodigoImagen == '') {
                $.bootstrapGrowl("Falta el codigo del producto.", { type: 'danger', width: 'auto' });
                return false;
            } else if (detalle == '') {
                $.bootstrapGrowl("Falta seleccionar una nueva imagen.", { type: 'danger', width: 'auto' });
                return false;
            } else if (parseInt(height) > 450) {
                $.bootstrapGrowl("El alto de la imagen no puede ser mayor 450.", { type: 'danger', width: 'auto' });
                return false;
            } else if (parseInt(width) > 450) {
                $.bootstrapGrowl("El ancho de la imagen no puede ser mayor 450.", { type: 'danger', width: 'auto' });
                return false;
            } else if (file == undefined || file == null) {
                $.bootstrapGrowl("Falta seleccionar una nueva imagen.", { type: 'danger', width: 'auto' });
                return false;
            }

            var data = new FormData;
            data.append("ImageFile2", file[0]);
            data.append("CodigoItemVenta", CodigoItemVenta);
            data.append("CodigoImagen", CodigoImagen);

            document.getElementById('loadMe').style.display = 'block';
            $.ajax({
                type: "Post",
                url: "/itemsventafit/ActualizarFotoItemsVenta",
                data: data,
                contentType: false,
                processData: false,
                success: function (response) {
                    $.bootstrapGrowl("La imagen de " + NombreProducto + " ha sido guardada correctamente.", { type: 'success', width: 'auto' });
                }, complete: function () {
                    document.getElementById('loadMe').style.display = 'none';
                }
            })

        }

        function SEGListarPerfilMenu() {

            var entidad = {};

            document.getElementById('loadMe').style.display = 'block';
            $('button[type="button"]').attr("disabled", true);
            var metodoCorrecto = function (msg) {

                $('button[type="button"]').attr("disabled", false);
                document.getElementById('loadMe').style.display = 'none';

                for (var i = 0; i < msg.length; i++) {

                    if (msg[i].Estado) {
                        $('[data-controlmodulo="' + msg[i].CodigoMenu + '"]').show('fast');
                    }
                }

            };
            var metodoError = function (msg) {
                alert(msg);
            };
            var request = {
                //request: entidad
            };
            LlamarAJAX("/itemsventa/SEGListarPerfilMenu", request, metodoCorrecto, metodoError);

        }
    </script>
}
